<div class="container">
	<div class="ms-new clearfix">
		<%= form_for @msg,:url => {:action => :first_create} do |f| %>
			<%= image_tag @reciever.image.thumb.url, alt: "icon", class: "image" if @reciever.image? %><br>
			<h1><%=t(".message", name: @reciever.name) %></h1>
			<%= f.text_area :message %>
			<div class="send-btn">
				<%= f.submit t(".send_btn"), class: "prim-btn" %>
			</div>
		<% end %>
	</div>
</div>

<% assign_meta_tags title: t(".meta_title", name: @reciever.name),
                    description: t(".meta_description"),
                    keywords: t(".meta_keywords") %>
<% set_meta_tags noindex: true %>