<div class="row">
	<!-- left memu -->
	<%= render :partial => 'messages/message_menu_sm', :locals=>{users: @users} %>
	<!-- 真ん中 -->
	<div class="ms-user col-lg-3 d-none d-lg-block">
		<div class="ms-user-upper">
			<h2><%= @comunitating_user.name %></h2>
			<%= image_tag @comunitating_user.image.url(:thumb), :alt => "icon", :class => "ms-user-icon" if @comunitating_user.image? %>
		</div>
		<div class="ms-user-lower">
			<% if @cs_here.introduction? %>
				<h2><%= t(".Introduction") %></h2>
				<p><%= @cs_here.introduction %></p>
			<% end %>

			<!-- カテゴリー -->
			<% if @categories.present? %>
				<h2><%= render :partial => 'svgs/category' %>&nbsp;<%= t(".Photographing_Categories") %></h2>
				<div class="badges">
					<% @categories.each do |cate| %>
						<span class="badge badge-pill subprime-badge"><%= cate.category.ja %></span>
					<% end %>
				</div>
			<% end %>
			<br>

			<!-- 撮影エリア -->
			<% if @locations.present? %>
				<h2><%= render :partial => 'svgs/location' %>&nbsp;<%= t(".Photographing_Area") %></h2>
				<div class="badges">
					<% @locations.each do |location| %>
						<span class="badge badge-pill black-badge"><%= location.prefecture.ja %></span>
					<% end %>
				</div>
			<% end %>
			<br>

			<% if @prim_price.present? %>
				<% if @prim_price.price_per_hour.present? %>
					<h2><%= render :partial => 'svgs/fee' %>&nbsp;<%= t(".Price") %></h2>
					<p><%= @prim_price.price_per_hour %>円/時間&nbsp;（<%= @prim_price.minimum_hours %>時間から受け付けます）</p>
				<% end %>
			<% end %>
			<br>

			<% if @options.present? %>
				<h2><%= render :partial => 'svgs/cart' %>&nbsp;<%= t(".Option_memu") %></h2>
				<% @options.each do |option| %>
					<p>
						<%= option.name %>
						<% if option.along_with_time == "1" %>
							<%= t(".price_per_hour") %>
						<% end %>
						<%= option.price %>
					</p>
				<% end %>
			<% end %>
			<br>

			<% if @cl_here.camera.present? %>
				<h2><%= render :partial => 'svgs/camera' %>&nbsp;<%= t(".Camera") %></h2>
				<p><%= @cl_here.camera %></p>
			<% end %>
			<% if @cl_here.introduction? %>
				<h2><%= render :partial => 'svgs/message' %>&nbsp;<%= t(".Message") %></h2>
				<p><%= @cl_here.introduction %></p>
			<% end %>
		</div>
	</div>
	<div class="ms-content col-12 col-md-8 col-lg-6">
		<div class="container-fluid">
			<div class="ms-content-upper d-lg-none">
				<%= link_to "＜", user_messages_path(current_user), class: "return-btn" %>
				<%= link_to client_path(@cl_here) do%>
					<%= image_tag @comunitating_user.image.url(:thumb), :alt => "icon", :class => "ms-content-icon" if @comunitating_user.image? %>
				<% end %>
			</div>
			<hr>
			<div class="ms-content-middle">
				<div class="ms-content-new">
					<%= form_for @msg,:url => {:action => :create} do |f| %>
						<%= f.hidden_field :reciever_id, :value => @comunitating_user.id %>
						<%= f.text_area :message, placeholder: t(".write_here") %>
						<div class="send-btn clearfix">
							<%= f.submit t(".send_btn"), class: "prim-btn" %>
						</div>
						<hr>
					<% end %>
				</div>
			</div>
			<div class="ms-content-lower">
				<div class="ms-content-lower-time">
					<%= t(".last_message") %> : <%= @selected_msges.first.created_at %>
				</div>
				<% @selected_msges.each do |msg| %>
					<% if msg.sender_id == current_user.id %>
						<p class="right_balloon"><%= msg.message %></p>
					<% else %>
						<p class="left_balloon"><%= msg.message %></p>
					<% end %>
				<% end %>
				<br class="clear_balloon"/>
			</div>
		</div>
	</div>
</div>