<h2>
	<% if @state == "cl_accepted" %>
	<%= t(".cl_accepted", name: @sender_name) %>
	<% end %>
	<% if @state == "cl_delivered" %>
	<%= t(".cl_delivered", name: @sender_name) %>
	<% end %>
	<% if @state == "cl_dismissed" %>
	<%= t(".cl_dismissed", name: @sender_name) %>
	<% end %>
	<% if @state == "cl_canceled" %>
	<%= t(".cl_canceled", name: @sender_name) %>
	<% end %>
	<% if @state == "cs_accepted" %>
	<%= t(".cs_accepted", name: @sender_name) %>
	<% end %>
	<% if @state == "cs_dismissed" %>
	<%= t(".cs_dismissed", name: @sender_name) %>
	<% end %>
	<% if @state == "cs_request_canceled" %>
	<%= t(".cs_request_canceled", name: @sender_name) %>
	<% end %>
	<% if @state == "cs_canceled" %>
	<%= t(".cs_canceled", name: @sender_name) %>
	<% end %>
	<% if @state == "cs_recieved" %>
	<%= t(".cs_recieved", name: @sender_name) %>
	<% end %>
	<% if @state == "cl_edited" %>
	<%= t(".cl_edited", name: @sender_name) %>
	<% end %>
</h2>
<!-- メッセージ -->
<p>
	<%= render :partial => 'svgs/message' %>&nbsp;<%= t(".Message") %><br>
	<%= @message %>
</p>

<P><%= @link %></P>
<br><br><br>

<h2><%= t(".event_detail") %></h2>
<hr>
<!-- 日時 -->
<p>
	<%= render :partial => 'svgs/date' %>&nbsp;<%= t(".Date_and_Time") %><br>
	<%= @day %>（<%= @wday %>）&emsp;<%= @start_time %>〜<%= @end_time %>
</p>
<br>

<!-- 場所 -->
<p>
	<%= render :partial => 'svgs/location' %>&nbsp;<%= t(".Location") %><br>
	<%= @prefecture %><br>
	<%= @location_detail %><br>
</p>
<br>

<!-- 人数 -->
<p>
	<%= render :partial => 'svgs/people' %>&nbsp;<%= t(".How_many_people?") %><br>
	<%= t(".num_people", num_people: @num_people) %>
</p>
<br>

<!-- 価格 -->
<p>
	<%= render :partial => 'svgs/fee' %>&nbsp;<%= t(".Fee") %><br>
	<%= t(".primary_price_sum", primary_price_sum: @primary_price_sum) %><br>

	<% if @options.present? %>
		<% @options.each do |option| %>
			<% if option.numbers != 0 %>
				<%= option.client_option_price.name %>&emsp;
				<% if option.client_option_price.along_with_time == true %>
					<%= t(".price_per_hour") %>
				<% end %>
				<%= option.client_option_price.price %><%= t(".yen") %>
					×<%= option.numbers %>
				＝<%= option.price_sum %><%= t(".yen") %><br>
			<% end %>
		<% end %>
	<% end %>

	<%= t(".total_price", total_price: @total_price) %><br>
</p>
<br>