<!-- sm以下 -->
<div class="d-block d-md-none">
  <div class="row mypage-menu-sm"">
    <!-- ホーム -->
    <div class="col-6 col-sm-3">
      <%= link_to user_path(current_user) do %>
        <% if page == "usershow" %>
          <div class="mypage-menu-sm-btn pushed">
            <%= t(".mypage") %>
          </div>
        <% else %>
          <div class="mypage-menu-sm-btn square_btn">
            <%= t(".mypage") %>
          </div>
        <% end %>
      <% end %>
    </div>
    <!-- 撮影 -->
    <div class="col-6 col-sm-3">
      <% if page.in?(['cs-future','cs-past','cl-future','cl-past']) %>
        <a data-toggle="collapse" href="#mypage-menu-events-sm">
          <div class="mypage-menu-sm-btn pushed">
            <%= t(".events") %>
          </div>
        </a>
      <% else %>
        <a data-toggle="collapse" href="#mypage-menu-events-sm">
          <div class="mypage-menu-sm-btn square_btn">
            <%= t(".events") %>
          </div>
        </a>
      <% end %>
    </div>
    <!-- カメラマンメニュー -->
    <% if @cl.consent == true %>
      <div class="col-6 col-sm-3">
        <% if page.in?(['cl-schedule','cl-edit','cl-portfolio','cl-contact']) %>
          <a data-toggle="collapse" href="#mypage-menu-cameraman-sm">
            <div class="mypage-menu-sm-btn pushed">
              <%= t(".cameraman_menu") %>
            </div>
          </a>
        <% else %>
          <a data-toggle="collapse" href="#mypage-menu-cameraman-sm">
            <div class="mypage-menu-sm-btn square_btn">
              <%= t(".cameraman_menu") %>
            </div>
          </a>
        <% end %>
      </div>
    <% end %>
    <!-- ユーザー設定 -->
    <div class="col-6 col-sm-3">
      <% if page.in?(['user-profile','user-edit','user-account','logout']) %>
        <a data-toggle="collapse" href="#mypage-menu-settings-sm">
          <div class="mypage-menu-sm-btn pushed">
            <%= t(".user_settings") %>
          </div>
        </a>
      <% else %>
        <a data-toggle="collapse" href="#mypage-menu-settings-sm">
          <div class="mypage-menu-sm-btn square_btn">
            <%= t(".user_settings") %>
          </div>
        </a>
      <% end %>
    </div>
    <!-- カメラマンになる -->
    <% if @cl.consent == false %>
      <div class="col-6 col-sm-3">
        <%= link_to first_new_user_client_client_contacts_path(@user, @cl) do %>
          <% if page == "cl-contact-first" %>
            <div class="mypage-menu-sm-btn pushed">
              <%= t(".register_as_cameraman") %>
            </div>
          <% else %>
            <div class="mypage-menu-sm-btn square_btn">
              <%= t(".register_as_cameraman") %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="mypage-menu-submenu-sm">
    <!-- collapge 撮影メニュー -->
    <% if page.in?(['cs-future','cs-past','cl-future','cl-past']) %>
      <div class="collapse show" id="mypage-menu-events-sm" data-parent="#mypage-menu-submenu-sm">
        <%= render :partial => 'users/mypage_menu_event_sm', :locals=>{page: page, cl: @cl} %>
      </div>
    <% else %>
      <div class="collapse" id="mypage-menu-events-sm" data-parent="#mypage-menu-submenu-sm">
        <%= render :partial => 'users/mypage_menu_event_sm', :locals=>{page: page, cl: @cl} %>
      </div>
    <% end %>

    <!-- collapge カメラマンメニュー -->
    <% if page.in?(['cl-schedule','cl-edit','cl-portfolio','cl-contact']) %>
      <div class="collapse show" id="mypage-menu-cameraman-sm" data-parent="#mypage-menu-submenu-sm">
        <%= render :partial => 'users/mypage_menu_camera_sm', :locals=>{page: page, cl: @cl, user: @user} %>
      </div>
    <% else %>
      <div class="collapse" id="mypage-menu-cameraman-sm" data-parent="#mypage-menu-submenu-sm">
        <%= render :partial => 'users/mypage_menu_camera_sm', :locals=>{page: page, cl: @cl, user: @user} %>
      </div>
    <% end %>

    <!-- collapge ユーザーメニュー -->
    <% if page.in?(['user-profile','user-edit','user-account','logout']) %>
      <div class="collapse show" id="mypage-menu-settings-sm" data-parent="#mypage-menu-submenu-sm">
        <%= render :partial => 'users/mypage_menu_user_sm', :locals=>{page: page} %>
      </div>
    <% else %>
      <div class="collapse" id="mypage-menu-settings-sm" data-parent="#mypage-menu-submenu-sm">
        <%= render :partial => 'users/mypage_menu_user_sm', :locals=>{page: page} %>
      </div>
    <% end %>
  </div>
</div>




<!-- md以上 -->
<div class="d-none d-md-block">
  <div class="row">
    <!-- ホーム -->
    <div class="col-3 col-xl-2 center-align">
      <%= link_to user_path(current_user) do %>
        <% if page == "usershow" %>
          <p class="mypage-subtitle selected"><%= t(".mypage") %></p>
        <% else %>
          <p class="mypage-subtitle"><%= t(".mypage") %></p>
        <% end %>
      <% end %>
    </div>

    <!-- 撮影 -->
    <div class="col-3 col-xl-2 center-align">
      <% if page.in?(['cs-future','cs-past','cl-future','cl-past']) %>
        <a data-toggle="collapse" href="#mypage-menu-events" id="mypage-menu-event" class="collapsed">
          <p class="mypage-subtitle under-marker-subprime"><%= t(".events") %>&thinsp;▼</p>
        </a>
      <% else %>
        <a data-toggle="collapse" href="#mypage-menu-events" id="mypage-menu-event" class="collapsed">
          <p class="mypage-subtitle"><%= t(".events") %>&thinsp;▼</p>
        </a>
      <% end %>
    </div>

    <!-- カメラマンメニュー -->
    <% if @cl.consent == true %>
      <div class="col-3 col-xl-2 center-align">
        <% if page.in?(['cl-schedule','cl-edit','cl-portfolio','cl-contact']) %>
          <a data-toggle="collapse" href="#mypage-menu-cameraman" id="mypage-menu-camera" class="collapsed" aria-expanded="false">
            <p class="mypage-subtitle under-marker-subprime"><%= t(".cameraman_menu") %>&thinsp;▼</p>
          </a>
        <% else %>
          <a data-toggle="collapse" href="#mypage-menu-cameraman" id="mypage-menu-camera" class="collapsed" aria-expanded="false">
            <p class="mypage-subtitle"><%= t(".cameraman_menu") %>&thinsp;▼</p>
          </a>
        <% end %>
      </div>
    <% end %>

    <!-- 設定 -->
    <div class="col-3 col-xl-2 center-align">
      <% if page.in?(['user-profile','user-edit','user-account','logout']) %>
        <a data-toggle="collapse" href="#mypage-menu-settings" id="mypage-menu-setting" class="collapsed">
          <p class="mypage-subtitle  under-marker-subprime"><%= t(".user_settings") %>&thinsp;▼</p>
        </a>
      <% else %>
        <a data-toggle="collapse" href="#mypage-menu-settings" id="mypage-menu-setting" class="collapsed">
          <p class="mypage-subtitle"><%= t(".user_settings") %>&thinsp;▼</p>
        </a>
      <% end %>
    </div>

    <!-- カメラマンになる -->
    <% if @cl.consent == false %>
      <div class="col-3 col-xl-2 center-align">
        <%= link_to first_new_user_client_client_contacts_path(@user, @cl) do %>
          <% if page == "cl-contact-first" %>
            <p class="mypage-subtitle selected"><%= t(".register_as_cameraman") %></p>
          <% else %>
            <p class="mypage-subtitle"><%= t(".register_as_cameraman") %></p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="mypage-menu-submenu">
    <!-- collapge 撮影メニュー -->
    <% if page.in?(['cs-future','cs-past','cl-future','cl-past']) %>
      <div class="collapse show" id="mypage-menu-events" data-parent="#mypage-menu-submenu">
        <%= render :partial => 'users/mypage_menu_event', :locals=>{page: page, cl: @cl} %>
      </div>
    <% else %>
      <div class="collapse" id="mypage-menu-events" data-parent="#mypage-menu-submenu">
        <%= render :partial => 'users/mypage_menu_event', :locals=>{page: page, cl: @cl} %>
      </div>
    <% end %>

    <!-- collapge カメラマンメニュー -->
    <% if page.in?(['cl-schedule','cl-edit','cl-portfolio','cl-contact']) %>
      <div class="collapse show" id="mypage-menu-cameraman" data-parent="#mypage-menu-submenu">
        <%= render :partial => 'users/mypage_menu_camera', :locals=>{page: page, cl: @cl, user: @user} %>
      </div>
    <% else %>
      <div class="collapse" id="mypage-menu-cameraman" data-parent="#mypage-menu-submenu">
        <%= render :partial => 'users/mypage_menu_camera', :locals=>{page: page, cl: @cl, user: @user} %>
      </div>
    <% end %>

    <!-- collapge ユーザーメニュー -->
    <% if page.in?(['user-profile','user-edit','user-account','logout']) %>
      <div class="collapse show" id="mypage-menu-settings" data-parent="#mypage-menu-submenu">
        <%= render :partial => 'users/mypage_menu_user', :locals=>{page: page} %>
      </div>
    <% else %>
      <div class="collapse" id="mypage-menu-settings" data-parent="#mypage-menu-submenu">
        <%= render :partial => 'users/mypage_menu_user', :locals=>{page: page} %>
      </div>
    <% end %>
  </div>
</div>

<hr class="slash">

<script>
function menu_btn_label_change(){
  if ($('#mypage-menu-link-sm').hasClass('collapsed')){
    $('#mypage-menu-btn-icon').text('▲');
  } else {
    $('#mypage-menu-btn-icon').text('▼');
  }
};
$(function() {
  $('#mypage-menu-link-sm').on('click', function() {
    menu_btn_label_change();
  });
});

// function menu_btn_label_change_event(){
//   if ($('#mypage-menu-event').hasClass('collapsed')){
//     $('#mypage-menu-btn-icon-event').text('▲');
//   } else {
//     $('#mypage-menu-btn-icon-event').text('▼');
//   }
// };
// $(function() {
//   $('#mypage-menu-event').on('click', function() {
//     menu_btn_label_change_event();
//     menu_btn_label_change_camera();
//     menu_btn_label_change_setting();
//   });
// });

// function menu_btn_label_change_camera(){
//   if ($('#mypage-menu-camera').hasClass('collapsed')){
//     $('#mypage-menu-btn-icon-camera').text('▲');
//   } else {
//     $('#mypage-menu-btn-icon-camera').text('▼');
//   }
// };
// $(function() {
//   $('#mypage-menu-camera').on('click', function() {
//     menu_btn_label_change_event();
//     menu_btn_label_change_camera();
//     menu_btn_label_change_setting();
//   });
// });

// function menu_btn_label_change_setting(){
//   if ($('#mypage-menu-setting').hasClass('collapsed')){
//     $('#mypage-menu-btn-icon-setting').text('▲');
//   } else {
//     $('#mypage-menu-btn-icon-setting').text('▼');
//   }
// };
// $(function() {
//   $('#mypage-menu-setting').on('click', function() {
//     menu_btn_label_change_event();
//     menu_btn_label_change_camera();
//     menu_btn_label_change_setting();
//   });
// });

</script>
