<div class="container-fluid mypage-container">
  <div class="row mypage-wrapper">
    <div class="col-12 col-md-3 offset-md-1 mypage-menu">
      <%= render :partial => 'users/mypage_menu' %>
    </div>

    <div class="col-12 col-md-8 mypage-content">
      <h1><%= t(".Edit_Profile")%></h1>
      <hr>

      <%= form_for(@user, url: edit_profile_users_path, html: { method: :put }) do |f| %>

        <!-- 言語 -->
        <p class="bold"><%= t(".language_use")%></p>
        <div class="field">
          <div class="indent">
            <label class="checkbox">
              <% if @lang_ids.include?(1) %>
                <input type="checkbox" name="language_id[]" value="1", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".japanese")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="language_id[]" value="1"/>
                <div class="btn btn-sık">
                  <span><%= t(".japanese")%></span>
                </div>
              <% end %>
            </label>

            <label class=checkbox>
              <% if @lang_ids.include?(2) %>
                <input type="checkbox" name="language_id[]" value="2", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".english")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="language_id[]" value="2"/>
                <div class="btn btn-sık">
                  <span><%= t(".english")%></span>
                </div>
              <% end %>
            </label>

            <label class=checkbox>
              <% if @lang_ids.include?(3) %>
                <input type="checkbox" name="language_id[]" value="3", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".chinese")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="language_id[]" value="3"/>
                <div class="btn btn-sık">
                  <span><%= t(".chinese")%></span>
                </div>
              <% end %>
            </label>
          </div>
        </div>

        <!-- プロフィール画像 -->
        <div class="field user-image">
          <%= f.label :image, t(".image"), class: "bold" %><br>
          <div class="indent">
            <%= image_tag current_user.image.url, alt: "icon", class: "image" if current_user.image? %><br>
            <%= f.file_field :image, class: "image" %>
          </div>
        </div>

        <!-- 自己紹介 -->
        <div class="field">
          <p class="bold" style="margin-bottom: 0;"><%= t(".introduction")%></p>
          <span class="field-explanation"><%= t(".cs_intro_explanation")%></span><br>
          <textarea name="introduction" class="input-textarea" maxlength="1000"><%= @cs.introduction %></textarea>
        </div>


        <div class="actions">
          <%= f.submit t(".update_btn") %>
        </div>
      <% end %>


    </div>
  </div>
</div>

<% assign_meta_tags title: t(".meta_title"),
                    description: t(".meta_keywords"),
                    keywords: t(".meta_description") %>
<% set_meta_tags noindex: true %>