<div class="container-fluid mypage-container">
  <div class="col-12 mypage-menu">
    <%= render :partial => 'users/mypage_menu', :locals=>{page: "usershow"} %>
  </div>

  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 mypage-content">
<!--       <h1><%= t(".Home")%></h1>
      <hr> -->

      <!-- お知らせ -->
      <div class="user-show-alert">
        <div class="row">
          <% if @cl.consent == true && @cl.deleted_at == nil && @cl_schedules.blank? %>
            <div class="col-12 col-md-6 col-xl-4">
              <div class="fusen">
                <ul>
                  <%= link_to user_client_client_schedules_path(@user, @cl, day: Date.today ) do %>
                    <li>
                      <%= t(".Update_available_dates_for_your_customer") %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
          <% if @cl_future.present? %>
            <div class="col-12 col-md-6 col-xl-4">
              <div class="fusen">
                <ul>
                  <% @cl_future.each do |ev| %>
                    <%= link_to event_path(ev.id) do %>
                      <li>
                        <%= t(".booking_request", name: ev.customer.user.name) %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
          <% if @cl_past.present? %>
            <div class="col-12 col-md-6 col-xl-4">
              <div class="fusen">
                <ul>
                  <% @cl_past.each do |ev| %>
                    <%= link_to event_path(ev.id) do %>
                      <li>
                        <%= t(".Deliver_photos", name: ev.customer.user.name) %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
          <% if @cs_future.present? %>
            <div class="col-12 col-md-6 col-xl-4">
              <div class="fusen">
                <ul>
                  <% @cs_future.each do |ev| %>
                    <%= link_to event_path(ev.id) do %>
                      <li>
                        <%= t(".changing_conditions_request", name: ev.client.user.name) %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
          <% if @cs_past.present? %>
            <div class="col-12 col-md-6 col-xl-4">
              <div class="fusen">
                <ul>
                  <% @cs_past.each do |ev| %>
                    <%= link_to event_path(ev.id) do %>
                      <li>
                        <%= t(".Photos_delivered", name: ev.client.user.name) %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
          <% if @cs_reviews.present? %>
            <div class="col-12 col-md-6 col-xl-4">
              <div class="fusen">
                <ul>
                  <% @cs_reviews.each do |ev| %>
                    <%= link_to event_path(ev.id) do %>
                      <li>
                        <%= t(".Write_a_review", name: ev.client.user.name) %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
          <% if @cl_reviews.present? %>
            <div class="col-12 col-md-6 col-xl-4">
              <div class="fusen">
                <ul>
                  <% @cl_reviews.each do |ev| %>
                    <%= link_to event_path(ev.id) do %>
                      <li>
                        <%= t(".Write_a_review", name: ev.customer.user.name) %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <br><br><br><br>

      <div class="user-show-wrapper">
        <!-- ユーザー情報 -->
        <div class="user-show-info">
          <h2 class="under-line-subprime">
            <%= @user.name %>
            <% unless @user.image.present? %>
              <%= link_to profile_users_path do %>
                <%= render :partial => 'svgs/edit_prim' %>
              <% end %>
            <% end %>
          </h2>
          <% if @user.image.present? %>
            <%= image_tag @user.image.thumb.url, :alt => "icon" %>
          <% else %>
            <%= render :partial => 'svgs/baby' %>
          <% end %>
          <h2 class="under-line-subprime">
            <%= t(".Languages")%>
            <%= link_to profile_users_path do %>
              <% if @mylangs.present? %>
                <%= render :partial => 'svgs/edit' %>
              <% else %>
                <%= render :partial => 'svgs/edit_prim' %>
              <% end %>
            <% end %>
          </h2>
          <div class="indent maring-b-50">
            <% if @mylangs.present? %>
              <% @mylangs.each do |lang| %>
              	<%= lang.ja %>
              <% end %>
            <% else %>
              <%= t(".None") %>
            <% end %>
          </div>
          <!-- 自己紹介 -->
          <h2 class="under-line-subprime">
            <%= t(".Introduction")%>
            <%= link_to profile_users_path do %>
                <% if @cs.introduction.present? %>
                  <%= render :partial => 'svgs/edit' %>
                <% else %>
                  <%= render :partial => 'svgs/edit_prim' %>
                <% end %>
            <% end %>
          </h2>
          <div class="indent maring-b-50">
            <% if @cs.introduction? %>
              <%= @cs.introduction %>
            <% else %>
              <%= t(".None")%>
            <% end %>
          </div>
          <br><br><br><br>


          <!-- カメラマン情報 -->
          <% if @cl.consent == true && @cl.deleted_at == nil %>
          <h1><%= t(".information_as_a_photographer") %></h1>
          <div class="subprim-col right-align">
            <% if @cl.image != nil && (@cl.introduction_ja != nil || @cl.introduction_en != nil || @cl.introduction_zh != nil || @cl.introduction_tw != nil) %>
              <%= link_to client_path(@cl), class: "", target: "blank" do %>
                <%= t(".Jump_to_your_page")%>
              <% end %><br>
            <% end %>
          </div>
          <hr>

            <!-- 簡易自己紹介 -->
            <% if @mylangs.present? %>
              <% @mylangs.each do |lang| %>
                <!-- 日本語 -->
                <% if lang.id == 1 %>
                  <h2 class="under-line-subprime">
                    <%= t(".Introduction_ja")%>
                    <%= link_to edit_user_client_path(@user, @cl) do %>
                        <% if @cl.introduction_ja.present? %>
                          <%= render :partial => 'svgs/edit' %>
                        <% else %>
                          <%= render :partial => 'svgs/edit_prim' %>
                        <% end %>
                    <% end %>
                  </h2>
                  <div class="indent maring-b-50">
                    <% if @cl.introduction_ja? %>
                      <%= @cl.introduction_ja %>
                    <% else %>
                      <%= t(".None")%>
                    <% end %>
                  </div>
                <% end %>
                <!-- 英語 -->
                <% if lang.id == 2 %>
                  <h2 class="under-line-subprime">
                    <%= t(".Introduction_en")%>
                    <%= link_to edit_user_client_path(@user, @cl) do %>
                        <% if @cl.introduction_en.present? %>
                          <%= render :partial => 'svgs/edit' %>
                        <% else %>
                          <%= render :partial => 'svgs/edit_prim' %>
                        <% end %>
                    <% end %>
                  </h2>
                  <div class="indent maring-b-50">
                    <% if @cl.introduction_en? %>
                      <%= @cl.introduction_en %>
                    <% else %>
                      <%= t(".None")%>
                    <% end %>
                  </div>
                <% end %>
                <!-- 簡体字 -->
                <% if lang.id == 3 %>
                  <h2 class="under-line-subprime">
                    <%= t(".Introduction_zh")%>
                    <%= link_to edit_user_client_path(@user, @cl) do %>
                        <% if @cl.introduction_zh.present? %>
                          <%= render :partial => 'svgs/edit' %>
                        <% else %>
                          <%= render :partial => 'svgs/edit_prim' %>
                        <% end %>
                    <% end %>
                  </h2>
                  <div class="indent maring-b-50">
                    <% if @cl.introduction_zh? %>
                      <%= @cl.introduction_zh %>
                    <% else %>
                      <%= t(".None")%>
                    <% end %>
                  </div>
                <% end %>
                <!-- 繁体字 -->
                <% if lang.id == 3 %>
                  <h2 class="under-line-subprime">
                    <%= t(".Introduction_tw")%>
                    <%= link_to edit_user_client_path(@user, @cl) do %>
                        <% if @cl.introduction_tw.present? %>
                          <%= render :partial => 'svgs/edit' %>
                        <% else %>
                          <%= render :partial => 'svgs/edit_prim' %>
                        <% end %>
                    <% end %>
                  </h2>
                  <div class="indent maring-b-50">
                    <% if @cl.introduction_tw? %>
                      <%= @cl.introduction_tw %>
                    <% else %>
                      <%= t(".None")%>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>


            <!-- 撮影可能日 -->
            <h2 class="under-line-subprime">
              <%= t(".Available_dates") %>
              <%= link_to user_client_client_schedules_path(@user, @cl, day: Date.today ) do %>
                <% if @cl_schedules.present? %>
                  <%= render :partial => 'svgs/edit' %>
                <% else %>
                  <%= render :partial => 'svgs/edit_prim' %>
                <% end %>
              <% end %>
            </h2>
            <div class="indent maring-b-50">
              <% if @cl_schedules.present? %>
                <%= t(".available_dates_explanation", nums: @cl_schedules.count) %>
              <% else %>
                <%= t(".None")%>
              <% end %>
            </div>

            <!-- カテゴリー -->
            <h2 class="under-line-subprime">
              <%= t(".Photographing_Categories") %>
              <%= link_to edit_user_client_path(@user, @cl) do %>
                <% if @cl_categories.present? %>
                  <%= render :partial => 'svgs/edit' %>
                <% else %>
                  <%= render :partial => 'svgs/edit_prim' %>
                <% end %>
              <% end %>
            </h2>
            <div class="indent maring-b-50">
              <% if @cl_categories.present? %>
                <% @cl_categories.each do |cl_category| %>
                  <%= cl_category.category.ja %><br>
                <% end %>
              <% else %>
                <%= t(".None")%>
              <% end %>
            </div>
            <h2 class="under-line-subprime">
              <%= t(".Photographing_Area") %>
              <%= link_to edit_user_client_path(@user, @cl) do %>
                <% if @cl_prefectures.present? %>
                  <%= render :partial => 'svgs/edit' %>
                <% else %>
                  <%= render :partial => 'svgs/edit_prim' %>
                <% end %>
              <% end %>
            </h2>
            <div class="indent maring-b-50">
              <% if @cl_prefectures.present? %>
                <% @cl_prefectures.each do |cl_prefecture| %>
                  <%= cl_prefecture.ja %>
                <% end %>
              <% else %>
                <%= t(".None")%>
              <% end %>
            </div>
            <h2 class="under-line-subprime">
              <%= t(".Price") %>
              <%= link_to edit_user_client_path(@user, @cl) do %>
                <% if @cl_prim_price.present? %>
                  <%= render :partial => 'svgs/edit' %>
                <% else %>
                  <%= render :partial => 'svgs/edit_prim' %>
                <% end %>
              <% end %>
            </h2>
            <div class="indent maring-b-50">
              <% if @cl_prim_price.present? %>
                <%= @cl_prim_price.price_per_hour %><%= t(".yen_per_hour") %><br>
                <%= @cl_prim_price.minimum_hours %><%= t(".hours_minimum") %>
              <% else %>
                <%= t(".None")%>
              <% end %>
            </div>
            <h2 class="under-line-subprime">
              <%= t(".Option_Menu") %>
              <%= link_to edit_user_client_path(@user, @cl) do %>
                <% if @cl_opt_prices.present? %>
                  <%= render :partial => 'svgs/edit' %>
                <% else %>
                  <%= render :partial => 'svgs/edit_prim' %>
                <% end %>
              <% end %>
            </h2>
            <div class="indent maring-b-50">
              <% if @cl_opt_prices.present? %>
                <% @cl_opt_prices.each do |cl_opt_price| %>
                  <%= cl_opt_price.name %>
                  <% if cl_opt_price.along_with_time == true %>
                    <%= t(".price_per_hour", price: cl_opt_price.price) %>
                  <% else %>
                    <%= cl_opt_price.price %><%= t(".yen") %>
                  <% end %>
                  <br>
                <% end %>
              <% else %>
                <%= t(".None")%>
              <% end %>
            </div>
            <!-- カメラ -->
            <h2 class="under-line-subprime">
              <%= t(".Camera") %>
              <%= link_to edit_user_client_path(@user, @cl) do %>
                <% if @cl.camera.present? %>
                  <%= render :partial => 'svgs/edit' %>
                <% else %>
                  <%= render :partial => 'svgs/edit_prim' %>
                <% end %>
              <% end %>
            </h2>
            <div class="indent maring-b-50">
              <% if @cl.camera.present? %>
                <pre><%= @cl.camera %></pre>
              <% else %>
                <%= t(".None")%>
              <% end %>
            </div>

            <!-- 納品写真 -->
            <h2 class="under-line-subprime">
              <%= t(".deliverables") %>
              <%= link_to edit_user_client_path(@user, @cl) do %>
                <% if @cl.deliverables.present? %>
                  <%= render :partial => 'svgs/edit' %>
                <% else %>
                  <%= render :partial => 'svgs/edit_prim' %>
                <% end %>
              <% end %>
            </h2>
            <div class="indent maring-b-50">
              <% if @cl.deliverables.present? %>
                <pre><%= @cl.deliverables %></pre>
              <% else %>
                <%= t(".None")%>
              <% end %>
            </div>

            <!-- メッセージ -->
            <h2 class="under-line-subprime">
              <%= t(".Message") %>
              <%= link_to edit_user_client_path(@user, @cl) do %>
                <% if @cl.message.present? %>
                  <%= render :partial => 'svgs/edit' %>
                <% else %>
                  <%= render :partial => 'svgs/edit_prim' %>
                <% end %>
              <% end %>
            </h2>
            <div class="indent maring-b-50">
              <% if @cl.message.present? %>
                <pre><%= @cl.message %></pre>
              <% else %>
                <%= t(".None")%>
              <% end %>
            </div>
            <h2 class="under-line-subprime">
              <%= t(".Your_Main_Photo") %>
              <%= link_to edit_user_client_path(@user, @cl) do %>
                <% if @cl.image.present? %>
                  <%= render :partial => 'svgs/edit' %>
                <% else %>
                  <%= render :partial => 'svgs/edit_prim' %>
                <% end %>
              <% end %>
            </h2>
            <div class="indent maring-b-50">
              <% if @cl.image.present? %>
                <%= image_tag @cl.image.url, :alt => "Main Image", class: "image" %>
              <% else %>
                <%= t(".None")%>
              <% end %>
            </div>
            <h2 class="under-line-subprime">
              <%= t(".Portfolios") %>
              <%= link_to new_client_client_portfolio_path(@cl) do %>
                <% if @portfolio_nums > 0 %>
                  <%= render :partial => 'svgs/edit' %>
                <% else %>
                  <%= render :partial => 'svgs/edit_prim' %>
                <% end %>
              <% end %>
            </h2>
            <div class="indent maring-b-50">
              <% if @portfolio_nums > 0 %>
                <%= @portfolio_nums %><%= t(".photos_are_uploaded")%>
              <% else %>
                <%= t(".None")%>
              <% end %>
            </div>
          <% end %>
        </div>
        <br><br><br>
        <%= link_to destroy_user_session_path, class: "", method: :delete do %>
          <div class="white-btn log-out-btn"><%= t(".sign-out") %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<% assign_meta_tags title: t(".meta_title"),
                    description: t(".meta_description"),
                    keywords: t(".meta_keywords") %>
<% set_meta_tags noindex: true %>