<h2>多言語確認用</h2>
<%= @date %>
<%= @a %>
<%= l(Time.now) %>
<%= l(Time.now,format: :long)   %>
<%= l(Time.now,format: :short)  %>

<h2>リンク</h2>
<o><%= link_to "ユーザー情報編集", edit_user_registration_path %></p>
<p><%= link_to "CS情報編集ページ", edit_user_customer_path(current_user) %></p>
<p><%= link_to "CL情報編集ページ", edit_user_client_path(current_user) %></p>

<h2>ユーザー情報</h2>
<h4>ユーザー名</h4>
<%= @user.name %><br>
<h4>メアド</h4>
<%= @user.email %><br>
<h4>プロフィール画像</h4>
<%= image_tag @user.image.url, :alt => "icon" if @user.image? %><br>
<%= image_tag @user.image.to_s, :alt => "icon" if @user.image? %>
<h4>話せる言語</h4>
<% @mylangs.each do |lang| %>
	<%= lang.ja %><br>
<% end %><br>