<div class="container-fluid mypage-container">
  <div class="row mypage-wrapper">
    <div class="col-12 col-md-3 offset-md-1 mypage-menu">
      <%= render :partial => 'users/mypage_menu' %>
    </div>

    <div class="col-12 col-md-8 mypage-content">
      <h1><%= t(".cl_form")%></h1>
      <hr>

      <%= form_for([current_user, @cl]) do |f| %>

        <!-- メイン写真 -->
        <div class="field user-image">
          <%= f.label :image, t(".main_image"), class: "bold" %><br>
          <div class="indent">
            <span class="field-explanation"><%= t(".main_image_explain")%></span><br>
            <%= image_tag @cl.image.url, :alt => "Main Image", class: "image" if @cl.image? %><br>
            <%= f.file_field :image %>
          </div>
        </div>


        <!-- カテゴリー -->
        <div class="field">
          <p class="bold"><%= t(".category_form")%></p>
            <div class="indent">
              <label class="checkbox">
                <% if @category_ids.include?(1) %>
                  <input type="checkbox" name="category_id[]" value="1", checked="checked"/>
                  <div class="btn btn-sık">
                    <span><%= t(".commercial_photos_people")%></span>
                  </div>
                <% else %>
                  <input type="checkbox" name="category_id[]" value="1"/>
                  <div class="btn btn-sık">
                    <span><%= t(".commercial_photos_people")%></span>
                  </div>
                <% end %>
              </label><br>
              <label class="checkbox">
                <% if @category_ids.include?(2) %>
                  <input type="checkbox" name="category_id[]" value="2", checked="checked"/>
                  <div class="btn btn-sık">
                    <span><%= t(".commercial_photos_items")%></span>
                  </div>
                <% else %>
                  <input type="checkbox" name="category_id[]" value="2"/>
                  <div class="btn btn-sık">
                    <span><%= t(".commercial_photos_items")%></span>
                  </div>
                <% end %>
              </label><br>
              <label class="checkbox">
                <% if @category_ids.include?(3) %>
                  <input type="checkbox" name="category_id[]" value="3", checked="checked"/>
                  <div class="btn btn-sık">
                    <span><%= t(".event_photos")%></span>
                  </div>
                <% else %>
                  <input type="checkbox" name="category_id[]" value="3"/>
                  <div class="btn btn-sık">
                    <span><%= t(".event_photos")%></span>
                  </div>
                <% end %>
              </label><br>
              <label class="checkbox">
                <% if @category_ids.include?(4) %>
                  <input type="checkbox" name="category_id[]" value="4", checked="checked"/>
                  <div class="btn btn-sık">
                    <span><%= t(".private_photo")%></span>
                  </div>
                <% else %>
                  <input type="checkbox" name="category_id[]" value="4"/>
                  <div class="btn btn-sık">
                    <span><%= t(".private_photo")%></span>
                  </div>
                <% end %>
              </label>
            </div>
        </div>


      <!-- 価格 -->
        <div class="field">
          <P class="bold">
            <%= t(".prime_price_form")%><br>
            <span class="field-explanation"><%= t(".fill_your_main_price")%></span>
          </P>
          <div class="indent">
            <% if @cl_prim_price.present? %>
              <% if @cl_prim_price.price_per_hour.present? && @cl_prim_price.minimum_hours.present? %>
                <label><%= t(".price_per_hour") %>¥<input type="number" name="price_per_hour" min="500" max="1000000" value=<%= @cl_prim_price.price_per_hour %>></label>
                <br>
                <label><%= t(".minimum_hours") %><input type="number" name="minimum_hours" min="1" max="24", value=<%= @cl_prim_price.minimum_hours %>></label><%= t(".h")%>
              <% end %>
            <% else %>
              <label><%= t(".price_per_hour") %>¥<input type="number" name="price_per_hour" min="500" max="1000000" value="3000"></label>
              <br>
              <label><%= t(".minimum_hours") %><input type="number" name="minimum_hours" min="1" max="24" value="1"></label><%= t(".h")%>
            <% end %>
          </div>
        </div>

      <!-- オプション -->
        <div class="field">
          <% if @cl_opt_prices.present? %>
            <P class="bold"><%= t(".registed_opt_price_list")%><br>
            <span class="field-explanation"><%= t(".checked_options_will_be_deleted")%></span>
          </P>
            <div class="indent">
              <% @cl_opt_prices.each do |cl_opt_price| %>
                <input type="checkbox" name="delete_opt_price[]" value=<%= cl_opt_price.id %>>
                <%= cl_opt_price.name %>
                <% if cl_opt_price.along_with_time == true %>
                  <%= t(".price_per_hour")%>
                <% end %>
                <%= cl_opt_price.price %>円
                <br>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="field">
          <P class="bold"><%= t(".add_opt_price_form")%></P>
          <div class="indent">
            <label><input type="text" name="name_a" maxlength="20" placeholder=<%= t(".option_name")%>></label>
            <div class="indent">
              <input type="checkbox" name="along_with_time_a" value="true"><%= t(".price_per_hour")%>
              <label>¥<input type="number" name="price_a" min="-10000000" max="10000000" placeholder=<%= t(".option_price")%> ></label>
            </div>
            <br>

            <label><input type="text" name="name_b" maxlength="20" placeholder=<%= t(".option_name")%>></label>
            <div class="indent">
              <input type="checkbox" name="along_with_time_b" value="true"><%= t(".price_per_hour")%>
              <label>¥<input type="number" name="price_b" min="-10000000" max="10000000" placeholder=<%= t(".option_price")%> ></label>
            </div>
            <br>

            <label><input type="text" name="name_c" maxlength="20" placeholder=<%= t(".option_name")%>></label>
            <div class="indent">
              <input type="checkbox" name="along_with_time_c" value="true"><%= t(".price_per_hour")%>
              <label>¥<input type="number" name="price_c" min="-10000000" max="10000000" placeholder=<%= t(".option_price")%> ></label>
            </div>
            <br>

            <label><input type="text" name="name_d" maxlength="20" placeholder=<%= t(".option_name")%>></label>
            <div class="indent">
              <input type="checkbox" name="along_with_time_d" value="true"><%= t(".price_per_hour")%>
              <label>¥<input type="number" name="price_d" min="-10000000" max="10000000" placeholder=<%= t(".option_price")%> ></label>
            </div>
            <br>

            <label><input type="text" name="name_e" maxlength="20" placeholder=<%= t(".option_name")%>></label>
            <div class="indent">
              <input type="checkbox" name="along_with_time_e" value="true"><%= t(".price_per_hour")%>
              <label>¥<input type="number" name="price_e" min="-10000000" max="10000000" placeholder=<%= t(".option_price")%> ></label>
            </div>
            <br>
          </div>
        </div>

      <!-- 出張可能都道府県 -->
        <div class="field">
          <p class="bold"><%= t(".prefecture_form")%></p>
          <p><%= t(".Hokkaido_area")%></p>
          <div class="indent">
            <label class="checkbox">
              <% if @prefecture_ids.include?(1) %>
                <input type="checkbox" name="prefecture_id[]" value="1", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Hokkaido")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="1"/>
                <div class="btn btn-sık">
                  <span><%= t(".Hokkaido")%></span>
                </div>
              <% end %>
            </label><br>
          </div>
          <br>
          <p><%= t(".Tohoku_area")%></p>
          <div class="indent">
            <label class="checkbox">
              <% if @prefecture_ids.include?(2) %>
                <input type="checkbox" name="prefecture_id[]" value="2", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Aomori")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="2"/>
                <div class="btn btn-sık">
                  <span><%= t(".Aomori")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(3) %>
                <input type="checkbox" name="prefecture_id[]" value="3", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Iwate")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="3"/>
                <div class="btn btn-sık">
                  <span><%= t(".Iwate")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(4) %>
                <input type="checkbox" name="prefecture_id[]" value="4", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Akita")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="4"/>
                <div class="btn btn-sık">
                  <span><%= t(".Akita")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(5) %>
                <input type="checkbox" name="prefecture_id[]" value="5", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Miyagi")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="5"/>
                <div class="btn btn-sık">
                  <span><%= t(".Miyagi")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(6) %>
                <input type="checkbox" name="prefecture_id[]" value="6", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Yamagata")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="6"/>
                <div class="btn btn-sık">
                  <span><%= t(".Yamagata")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(7) %>
                <input type="checkbox" name="prefecture_id[]" value="7", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Fukushima")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="7"/>
                <div class="btn btn-sık">
                  <span><%= t(".Fukushima")%></span>
                </div>
              <% end %>
            </label>
          </div>
          <br>
          <p><%= t(".Kanto_area")%></p>
          <div class="indent">
            <label class="checkbox">
              <% if @prefecture_ids.include?(8) %>
                <input type="checkbox" name="prefecture_id[]" value="8", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Tokyo")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="8"/>
                <div class="btn btn-sık">
                  <span><%= t(".Tokyo")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(9) %>
                <input type="checkbox" name="prefecture_id[]" value="9", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Kanagawa")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="9"/>
                <div class="btn btn-sık">
                  <span><%= t(".Kanagawa")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(10) %>
                <input type="checkbox" name="prefecture_id[]" value="10", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Saitama")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="10"/>
                <div class="btn btn-sık">
                  <span><%= t(".Saitama")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(11) %>
                <input type="checkbox" name="prefecture_id[]" value="11", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Chiba")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="11"/>
                <div class="btn btn-sık">
                  <span><%= t(".Chiba")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(12) %>
                <input type="checkbox" name="prefecture_id[]" value="12", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Ibaraki")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="12"/>
                <div class="btn btn-sık">
                  <span><%= t(".Ibaraki")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(13) %>
                <input type="checkbox" name="prefecture_id[]" value="13", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Tochigi")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="13"/>
                <div class="btn btn-sık">
                  <span><%= t(".Tochigi")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(14) %>
                <input type="checkbox" name="prefecture_id[]" value="14", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Gunma")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="14"/>
                <div class="btn btn-sık">
                  <span><%= t(".Gunma")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(15) %>
                <input type="checkbox" name="prefecture_id[]" value="15", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Yamanashi")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="15"/>
                <div class="btn btn-sık">
                  <span><%= t(".Yamanashi")%></span>
                </div>
              <% end %>
            </label>
          </div>
          <br>
          <p><%= t(".Hokushinetsu_area")%></p>
          <div class="indent">
            <label class="checkbox">
              <% if @prefecture_ids.include?(16) %>
                <input type="checkbox" name="prefecture_id[]" value="16", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Niigata")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="16"/>
                <div class="btn btn-sık">
                  <span><%= t(".Niigata")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(17) %>
                <input type="checkbox" name="prefecture_id[]" value="17", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Nagano")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="17"/>
                <div class="btn btn-sık">
                  <span><%= t(".Nagano")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(18) %>
                <input type="checkbox" name="prefecture_id[]" value="18", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Toyama")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="18"/>
                <div class="btn btn-sık">
                  <span><%= t(".Toyama")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(19) %>
                <input type="checkbox" name="prefecture_id[]" value="19", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Ishikawa")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="19"/>
                <div class="btn btn-sık">
                  <span><%= t(".Ishikawa")%></span>
                </div>
              <% end %>
            </label>
          </div>
          <br>
          <p><%= t(".Tokai_area")%></p>
          <div class="indent">
            <label class="checkbox">
              <% if @prefecture_ids.include?(20) %>
                <input type="checkbox" name="prefecture_id[]" value="20", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Fukui")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="20"/>
                <div class="btn btn-sık">
                  <span><%= t(".Fukui")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(21) %>
                <input type="checkbox" name="prefecture_id[]" value="21", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Aichi")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="21"/>
                <div class="btn btn-sık">
                  <span><%= t(".Aichi")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(22) %>
                <input type="checkbox" name="prefecture_id[]" value="22", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Gifu")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="22"/>
                <div class="btn btn-sık">
                  <span><%= t(".Gifu")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(23) %>
                <input type="checkbox" name="prefecture_id[]" value="23", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Shizuoka")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="23"/>
                <div class="btn btn-sık">
                  <span><%= t(".Shizuoka")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(24) %>
                <input type="checkbox" name="prefecture_id[]" value="24", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Mie")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="24"/>
                <div class="btn btn-sık">
                  <span><%= t(".Mie")%></span>
                </div>
              <% end %>
            </label>
          </div>
          <br>
          <p><%= t(".Kinki_area")%></p>
          <div class="indent">
            <label class="checkbox">
              <% if @prefecture_ids.include?(25) %>
                <input type="checkbox" name="prefecture_id[]" value="25", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Osaka")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="25"/>
                <div class="btn btn-sık">
                  <span><%= t(".Osaka")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(26) %>
                <input type="checkbox" name="prefecture_id[]" value="26", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Hyōgo")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="26"/>
                <div class="btn btn-sık">
                  <span><%= t(".Hyōgo")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(27) %>
                <input type="checkbox" name="prefecture_id[]" value="27", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Kyoto")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="27"/>
                <div class="btn btn-sık">
                  <span><%= t(".Kyoto")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(28) %>
                <input type="checkbox" name="prefecture_id[]" value="28", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Shiga")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="28"/>
                <div class="btn btn-sık">
                  <span><%= t(".Shiga")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(29) %>
                <input type="checkbox" name="prefecture_id[]" value="29", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Nara")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="29"/>
                <div class="btn btn-sık">
                  <span><%= t(".Nara")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(30) %>
                <input type="checkbox" name="prefecture_id[]" value="30", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Wakayama")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="30"/>
                <div class="btn btn-sık">
                  <span><%= t(".Wakayama")%></span>
                </div>
              <% end %>
            </label>
          </div>
          <br>
          <p><%= t(".Chugoku_area")%></p>
          <div class="indent">
            <label class="checkbox">
              <% if @prefecture_ids.include?(31) %>
                <input type="checkbox" name="prefecture_id[]" value="31", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Tottori")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="31"/>
                <div class="btn btn-sık">
                  <span><%= t(".Tottori")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(32) %>
                <input type="checkbox" name="prefecture_id[]" value="32", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Shimane")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="32"/>
                <div class="btn btn-sık">
                  <span><%= t(".Shimane")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(33) %>
                <input type="checkbox" name="prefecture_id[]" value="33", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Okayama")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="33"/>
                <div class="btn btn-sık">
                  <span><%= t(".Okayama")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(34) %>
                <input type="checkbox" name="prefecture_id[]" value="34", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Hiroshima")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="34"/>
                <div class="btn btn-sık">
                  <span><%= t(".Hiroshima")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(35) %>
                <input type="checkbox" name="prefecture_id[]" value="35", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Yamaguchi")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="35"/>
                <div class="btn btn-sık">
                  <span><%= t(".Yamaguchi")%></span>
                </div>
              <% end %>
            </label>
          </div>
          <br>
          <p><%= t(".Shikoku_area")%></p>
          <div class="indent">
            <label class="checkbox">
              <% if @prefecture_ids.include?(36) %>
                <input type="checkbox" name="prefecture_id[]" value="36", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Tokushima")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="36"/>
                <div class="btn btn-sık">
                  <span><%= t(".Tokushima")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(37) %>
                <input type="checkbox" name="prefecture_id[]" value="37", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Kagawa")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="37"/>
                <div class="btn btn-sık">
                  <span><%= t(".Kagawa")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(38) %>
                <input type="checkbox" name="prefecture_id[]" value="38", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Ehime")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="38"/>
                <div class="btn btn-sık">
                  <span><%= t(".Ehime")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(39) %>
                <input type="checkbox" name="prefecture_id[]" value="39", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Kochi")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="39"/>
                <div class="btn btn-sık">
                  <span><%= t(".Kochi")%></span>
                </div>
              <% end %>
            </label>
          </div>
          <br>
          <p><%= t(".Kyushu_area")%></p>
          <div class="indent">
            <label class="checkbox">
              <% if @prefecture_ids.include?(40) %>
                <input type="checkbox" name="prefecture_id[]" value="40", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Fukuoka")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="40"/>
                <div class="btn btn-sık">
                  <span><%= t(".Fukuoka")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(41) %>
                <input type="checkbox" name="prefecture_id[]" value="41", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Saga")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="41"/>
                <div class="btn btn-sık">
                  <span><%= t(".Saga")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(42) %>
                <input type="checkbox" name="prefecture_id[]" value="42", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Nagasaki")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="42"/>
                <div class="btn btn-sık">
                  <span><%= t(".Nagasaki")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(43) %>
                <input type="checkbox" name="prefecture_id[]" value="43", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Kumamoto")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="43"/>
                <div class="btn btn-sık">
                  <span><%= t(".Kumamoto")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(44) %>
                <input type="checkbox" name="prefecture_id[]" value="44", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Oita")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="44"/>
                <div class="btn btn-sık">
                  <span><%= t(".Oita")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(45) %>
                <input type="checkbox" name="prefecture_id[]" value="45", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Miyazaki ")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="45"/>
                <div class="btn btn-sık">
                  <span><%= t(".Miyazaki ")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(46) %>
                <input type="checkbox" name="prefecture_id[]" value="46", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Kagoshima")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="46"/>
                <div class="btn btn-sık">
                  <span><%= t(".Kagoshima")%></span>
                </div>
              <% end %>
            </label>
            <label class="checkbox">
              <% if @prefecture_ids.include?(47) %>
                <input type="checkbox" name="prefecture_id[]" value="47", checked="checked"/>
                <div class="btn btn-sık">
                  <span><%= t(".Okinawa")%></span>
                </div>
              <% else %>
                <input type="checkbox" name="prefecture_id[]" value="47"/>
                <div class="btn btn-sık">
                  <span><%= t(".Okinawa")%></span>
                </div>
              <% end %>
            </label>
          </div>
        </div>


        <!-- カメラ -->
        <div class="field">
          <%= f.label :camera, t(".camera"), class: "bold"%><br />
          <%= f.text_area :camera, class: "input-textarea" %>
        </div>


        <!-- メッセージ -->
        <div class="field">
          <%= f.label :introduction, t(".introduction"), class: "bold" %><br>
          <%= f.text_area :introduction, class: "input-textarea" %>
        </div>

        <div class="actions">
          <%= f.submit t(".register_btn") %>
        </div>

      <% end %>
    </div>
  </div>
</div>