<h2><%= t(".cl_form")%></h2>

<%= form_for([current_user, @cl]) do |f| %>

  <div class="field">
    <%= f.label :camera, t(".camera") %><br />
    <%= f.text_area :camera %>
  </div>

  <div class="field">
    <%= f.label :introduction, t(".introduction") %><br />
    <%= f.text_area :introduction %>
  </div>

  <h3>価格</h3>
  <P><%= t(".prime_price_form")%></P>
  <% if @cl_prim_price.present? %>
    <% if @cl_prim_price.price_per_hour.present? && @cl_prim_price.minimum_hours.present? %>
      <label><%= t(".price_per_hour") %><input type="number" name="price_per_hour" min="500" max="1000000" value=<%= @cl_prim_price.price_per_hour %>></label>
      <label><%= t(".minimum_hours") %><input type="number" name="minimum_hours" min="1" max="24", value=<%= @cl_prim_price.minimum_hours %>></label>
    <% end %>
  <% else %>
    <label><%= t(".price_per_hour") %><input type="number" name="price_per_hour" min="500" max="1000000"></label>
      <label><%= t(".minimum_hours") %><input type="number" name="minimum_hours" min="1" max="24"></label>
  <% end %>
  <br><br><br>

  <P><%= t(".registed_opt_price_list")%></P>
  <% @cl_opt_prices.each do |cl_opt_price| %>
    <input type="checkbox" name="delete_opt_price[]" value=<%= cl_opt_price.id %>>消去
    <%= cl_opt_price.name %>
    <% if cl_opt_price.along_with_time == true %>
      １時間ごとに
    <% end %>
    <%= cl_opt_price.price %>円
    <br>
  <% end %>

  <P><%= t(".add_opt_price_form")%></P>
  <div>
      <label><input type="text" name="name_a" maxlength="20"></label>
      <input type="checkbox" name="along_with_time_a" value="true">一時間ごとの価格
      <label>¥<input type="number" name="price_a" min="0" max="10000000" ></label>
      <br>
  </div>
  <div>
      <label><input type="text" name="name_b" maxlength="20"></label>
      <input type="checkbox" name="along_with_time_b" value="true">一時間ごとの価格
      <label>¥<input type="number" name="price_b" min="0" max="10000000" ></label>
      <br>
  </div>
  <div>
      <label><input type="text" name="name_c" maxlength="20"></label>
      <input type="checkbox" name="along_with_time_c" value="true">一時間ごとの価格
      <label>¥<input type="number" name="price_c" min="0" max="10000000" ></label>
      <br>
  </div>
  <div>
      <label><input type="text" name="name_d" maxlength="20"></label>
      <input type="checkbox" name="along_with_time_d" value="true">一時間ごとの価格
      <label>¥<input type="number" name="price_d" min="0" max="10000000" ></label>
      <br>
  </div>
  <div>
      <label><input type="text" name="name_e" maxlength="20"></label>
      <input type="checkbox" name="along_with_time_e" value="true">一時間ごとの価格
      <label>¥<input type="number" name="price_e" min="0" max="10000000" ></label>
      <br>
  </div>


  <p><%= t(".prefecture_form")%></p>
  <% if @pre_ids.include?(1) %>
    <input type="checkbox" name="prefecture_id[]" value="1", checked="checked"><%= t(".Hokkaido")%>
  <% else %>
    <input type="checkbox" name="prefecture_id[]" value="1"><%= t(".Hokkaido")%>
  <% end %>
  <% if @pre_ids.include?(2) %>
    <input type="checkbox" name="prefecture_id[]" value="2", checked="checked"><%= t(".Aomori")%>
  <% else %>
    <input type="checkbox" name="prefecture_id[]" value="2"><%= t(".Aomori")%>
  <% end %>
  <% if @pre_ids.include?(3) %>
    <input type="checkbox" name="prefecture_id[]" value="3", checked="checked"><%= t(".Iwate")%>
  <% else %>
    <input type="checkbox" name="prefecture_id[]" value="3"><%= t(".Iwate")%>
  <% end %>
  <% if @pre_ids.include?(8) %>
    <input type="checkbox" name="prefecture_id[]" value="8", checked="checked"><%= t(".Tokyo")%>
  <% else %>
    <input type="checkbox" name="prefecture_id[]" value="8"><%= t(".Tokyo")%>
  <% end %>

  <div class="actions">
    <%= f.submit t(".register_btn") %>
  </div>

<% end %>