<div class="search-research">
	<div class="research-upper">

	</div>
	<div class="research-lower">
	</div>
</div>

<div class="search-results">
	<div class="container-fluid">
		<div class="row">
			<% if @cls.present? %>
				<% @cls.each do |cl| %>
					<div class="col-12 col-sm-6 col-md-4">
						<div class="cameraman-lists">
							<div class="cameraman-list-upper">
								<div id="carousel-pf-<%= cl.id %>" class="carousel slide" data-ride="carousel" data-interval="0">
									<%= link_to client_path(cl), target: "_blank", rel: "noopener noreferrer" do %>
										<div class="carousel-inner">
											<div class="carousel-item active">
												<%= image_tag cl.image.thumb.url, :alt => "sample", :class => "cameraman-list-portfolio" if cl.image? %>
											</div>
											<% cl.client_portfolios.each do |pf| %>
												<div class="carousel-item">
													<%= image_tag pf.image.thumb.url, :alt => "sample", :class => "cameraman-list-portfolio" if pf.image? %>
												</div>
											<% end %>
										</div>
									<% end %>
									<a class="carousel-control-prev" href="#carousel-pf-<%= cl.id %>" role="button" data-slide="prev">
										<%= render :partial => 'svgs/cal_left' %>
										<span class="sr-only">Previous</span>
									</a>
									<a class="carousel-control-next" href="#carousel-pf-<%= cl.id %>" role="button" data-slide="next">
										<%= render :partial => 'svgs/cal_right' %>
										<span class="sr-only">Next</span>
									</a>
								</div>
							</div>
							<%= link_to client_path(cl), target: "_blank", rel: "noopener noreferrer" do %>
								<div class="cameraman-list-lower">
									<div class="row">
										<div class="cameraman-list-lower-left col-8">
											<!-- 名前 -->
											<h1><%= cl.user.name %></h1>
											<!-- 値段 -->
											<% cl.client_primary_prices.active.each do |prim_price| %>
												<h2><%= prim_price.price_per_hour %><%= t(".yen_per_hour") %></h2>
											<% end %>
											<!-- 自己紹介 -->
											<div class="cameraman-list-intro">
												<%= render :partial => 'clients/introduction', :locals=>{cl: cl, locale: @locale} %>
											</div><!-- endof自己紹介 -->
										</div>
										<div class="cameraman-list-lower-right col-4">
											<!-- 言語 -->
											<% cl.user.user_languages.each do |l| %>
												<span class="badge badge-pill badge-dark"><%= l.language.ja_s %></span>
											<% end %><br>
											<% if cl.user.image? %>
												<%= image_tag cl.user.image.url(:thumb), alt: "icon", class: "cameraman-list-image" %>
											<% else %>
												<%= render :partial => 'svgs/baby_sm' %>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			<% else %>
				<div class="no-result">
					<%= t(".no_result") %>
				</div>
			<% end %>
		</div>
		<%= paginate @cls %>
	</div>
</div>

<% assign_meta_tags title: t(".meta_title"),
                    description: t(".meta_description"),
                    keywords: t(".meta_keywords") %>s
<% set_meta_tags noindex: true %>