<div class="search-research">
	<div class="research-upper">

	</div>
	<div class="research-lower">
	</div>
</div>

<div class="search-results">
	<div class="container-fluid">
		<div class="row">
			<% if @cls.present? %>
				<% @cls.each do |cl| %>
					<div class="col-12 col-sm-6 col-md-4">
						<div class="cameraman-lists">
							<div class="cameraman-list-upper">
								<div id="carousel-pf-<%= cl.id %>" class="carousel slide" data-ride="carousel" data-interval="0">
								  <div class="carousel-inner">
								    <div class="carousel-item active">
								      <%= image_tag cl.image.url, :alt => "sample", :class => "cameraman-list-portfolio" if cl.image? %>
								    </div>
								    <% cl.client_portfolios.each do |pf| %>
								    	<div class="carousel-item">
								    		<%= image_tag pf.image.url, :alt => "sample", :class => "cameraman-list-portfolio" if pf.image? %>
								    	</div>
								    <% end %>
								  </div>
								  <a class="carousel-control-prev" href="#carousel-pf-<%= cl.id %>" role="button" data-slide="prev">
								   <%= render :partial => 'svgs/cal_left' %>
								    <span class="sr-only">Previous</span>
								  </a>
								  <a class="carousel-control-next" href="#carousel-pf-<%= cl.id %>" role="button" data-slide="next">
								    <%= render :partial => 'svgs/cal_right' %>
								    <span class="sr-only">Next</span>
								  </a>
								</div>
							</div>
							<%= link_to client_path(cl) do %>
								<div class="cameraman-list-lower">
									<div class="row">
										<div class="cameraman-list-lower-left col-8">
											<!-- 名前 -->
											<h1><%= cl.user.name %><h1>
											<!-- 値段 -->
											<% cl.client_primary_prices.active.each do |prim_price| %>
												<h2><%= prim_price.price_per_hour %>円/時間</h2>
											<% end %>
											<!-- カテゴリー -->
	<!-- 										<% cl.client_categories.each do |c| %>
												<span class="badge badge-pill badge-dark"><%= c.category.ja_s %></span>
											<% end %> -->
											<div class="cameraman-list-intro"><%= cl.introduction %></div>
										</div>
										<div class="cameraman-list-lower-right col-4">
											<!-- 言語 -->
											<% cl.user.user_languages.each do |l| %>
												<span class="badge badge-pill badge-dark"><%= l.language.ja_s %></span>
											<% end %><br>
											<%= image_tag cl.user.image.url(:thumb), :alt => "icon", :class => "cameraman-list-image" if cl.user.image? %>
										</div>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			<% else %>
				<div class="no-result">
					<%= t(".no_result") %>
				</div>
			<% end %>
		</div>
		<%= paginate @cls %>
	</div>
</div>