<div id="cl-show-photo" style="background-image: url(<%= @cl_here.image.url %>);">
</div>

<!-- ##########  ヘッダー  ########## -->
<!-- md以下で表示 -->
<div class="container-fluid cl-show cl-show-1 d-lg-none">
	<div class="container">
		<div class="row">
			<div class="cl-show-1-left col-3 col-sm-3 col-md-2">
				<% if @cl_here.user.image? %>
					<%= image_tag @cl_here.user.image.url(:thumb), alt: "icon", class: "round-img" %>
				<% else %>
					<%= render :partial => 'svgs/baby_80' %>
				<% end %>
			</div>
			<div class="cl-show-1-middle col-9 col-sm-9 col-md-10">
				<div class="cl-show-name">
					<%= @cl_here.user.name %>
					<% if @ev_nums.present? && @ev_nums > 0 %>
						<a class="all-review-inline" data-toggle="modal" data-target="#all-reviews">
							(<%= @ev_nums %><%= t(".reviews") %>)
						</a>
					<% end %>
				</div>
				<strong>¥<%= @prim_price.price_per_hour %><%= t(".yen_per_hour") %></strong>
				<!-- メッセージを送る -->
				<!-- ログイン時 -->
				<div class="cl-show-side-show-1-message">
					<% if user_signed_in? %>
						<%= link_to new_user_message_path(@cl_here.user.id) do %>
							<%= render :partial => 'svgs/mail' %>&nbsp;<%= t(".message") %>
						<% end %>
					<!-- 未ログイン時 -->
					<% else %>
						<%= link_to new_user_session_path(redirect_client_id: @cl_here.id), target: "_new" do %>
								<%= render :partial => 'svgs/mail' %>&nbsp;<%= t(".sign-in-for-ms") %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- # About 1 # -->
<div class="container-fluid cl-show cl-show-2 white-back">
	<div class="col-12 col-lg-8 offset-lg-1">
		<div class="line-break"><%= render :partial => 'clients/introduction', :locals=>{cl: @cl_here, locale: @locale} %></div>
		<hr>



		<div class="container-fluid">
			<div class="row">
				<!-- 言語 -->
				<% if @langs.present? %>
					<div class="col-12 col-lg-2">
						<h2><%= render :partial => 'svgs/language' %>&nbsp;<%= t(".Languages") %></h2>
						<div class="badges">
							<% @langs.each do |lang| %>
								<span class="badge badge-pill prime-badge"><%= lang.language.ja %></span>
							<% end %>
						</div>
						<hr class="d-block d-lg-none">
					</div>
				<% end %>

				<!-- カテゴリー -->
				<% if @categories.present? %>
					<div class="col-12 col-lg-5">
						<h2><%= render :partial => 'svgs/category' %>&nbsp;<%= t(".Photographing_Categories") %></h2>
						<div class="badges">
							<% @categories.each do |cate| %>
								<span class="badge badge-pill subprime-badge"><%= cate.category.ja %></span>
							<% end %>
						</div>
						<hr class="d-block d-lg-none">
					</div>
				<% end %>

				<!-- 撮影エリア -->
				<% if @locations.present? %>
					<div class="col-12 col-lg-5">
						<h2><%= render :partial => 'svgs/location' %>&nbsp;<%= t(".Photographing_Area") %></h2>
						<div class="badges">
							<% @locations.each do |location| %>
								<span class="badge badge-pill black-badge"><%= location.prefecture.ja %></span>
							<% end %>
						</div>
						<hr class="d-block d-lg-none">
					</div>
				<% end %>
			</div>
		</div>
		<hr class="d-none d-lg-block">


		<!-- オプション -->
		<% if @options.present? %>
			<h2><%= render :partial => 'svgs/cart' %>&nbsp;<%= t(".Option_Menu") %></h2>
			<% @options.each do |option| %>
				<p>
					<%= option.name %>：
					<% if option.along_with_time == true %>
						<%= t(".price_per_hour", price: option.price) %>
					<% else %>
						<%= option.price %><%= t(".yen") %>
					<% end %>
				</p>
			<% end %>
		<hr>
		<% end %>

		<!-- カメラ -->
		<% if @cl_here.deliverables.present? %>
			<h2><%= render :partial => 'svgs/camera' %>&nbsp;<%= t(".Camera") %></h2>
			<pre class="indent"><%= @cl_here.camera %></pre>
			<hr>
		<% end %>

		<!-- 納品写真 -->
		<% if @cl_here.deliverables.present? %>
			<h2><%= render :partial => 'svgs/deliverables' %>&nbsp;<%= t(".deliverables") %></h2>
			<pre class="indent"><%= @cl_here.deliverables %></pre>
			<hr>
		<% end %>

		<!-- メッセージ -->
		<% if @cl_here.message.present? %>
			<h2><%= render :partial => 'svgs/message' %>&nbsp;<%= t(".Message") %></h2>
			<pre class="indent"><%= @cl_here.message %></pre>
		<% end %>

		<!-- message_btn -->
		<!-- メッセージを送る -->
		<!-- ログイン時 -->
		<div class="indent">
			<% if user_signed_in? %>
				<%= link_to new_user_message_path(@cl_here.user.id) do %>
					<div class="white-btn cl-show-message-btn btn">
					<%= t(".message") %>
					</div>
				<% end %>
			<!-- 未ログイン時 -->
			<% else %>
				<%= link_to new_user_session_path(redirect_client_id: @cl_here.id), target: "_new" do %>
					<div class="white-btn cl-show-message-btn btn">
						<%= t(".sign-in-for-ms") %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>




<% if @events_3.present? %>
	<hr>
	<div class="container-fluid cl-show cl-show-2 white-back">
		<div class="col-12 col-lg-8 offset-lg-1">
			<h1><%= t(".Reviews") %></h1>
			<% @events_3.each do |ev| %>
				<%= render partial: 'clients/reviews', locals: {ev: ev} %>
			<% end %>
			<!-- 全てのレビュー -->
			<% if @ev_nums > 3 %>
				<p>
					<button type="button" class="white-btn" data-toggle="modal" data-target="#all-reviews">
						<%= t(".Read_all_reviews") %>（<%= @ev_nums %>）
					</button>
				</p>
			<%end %>

			<!-- Modal -->
			<div class="modal fade" id="all-reviews" tabindex="-1" role="dialog" aria-labelledby="all-reviewsTitle" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="all-reviewsTitle"><%= t(".all_reviews", name: @cl_here.user.name) %>（<%= @ev_nums %>）</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<% @events.each do |ev| %>
								<%= render partial: 'clients/reviews', locals: {ev: ev} %>
							<% end %>
						</div>
					</div>
				</div>
			</div>

			<script>
			$(function() {
			    var count = 80;
			 $('.text_overflow').each(function() {
			     var thisText = $(this).text();
			      var textLength = thisText.length;
			       if (textLength > count) {
			            var showText = thisText.substring(0, count);
			            var hideText = thisText.substring(count, textLength);
			           var insertText = showText;
			          insertText += '<span class="hide">' + hideText + '</span>';
			           insertText += '<span class="omit">…</span>';
			            insertText += '<a href="" class="more">&emsp;more&emsp;</a>';
			            $(this).html(insertText);
			       };
			  });
			 $('.text_overflow .hide').hide();
			 $('.text_overflow .more').click(function() {
			      $(this).hide()
			          .prev('.omit').hide()
			         .prev('.hide').fadeIn();
			      return false;
			   });
			});
			</script>
		</div>
	</div>
<% end %>


<!-- # Schedule # -->
<div class="container-fluid cl-show-schedule-title">
	<div class="col-12 col-lg-8 offset-lg-1">
		<h1><%= t(".Schedule") %></h1>
	</div>
</div>
<div id="cl-show4-calender" class="container-fluid cl-show cl-show-4">
	<%= render partial: 'clients/show4_calender', locals: {cl_here: @cl_here, day: @day, c_dates: @c_dates } %>
</div>



<!-- ##########  Portfolio  ########## -->
<div class="container-fluid cl-show cl-show-3">
	<div class="col-12 col-lg-8 offset-lg-1">
		<h1><%= t(".Portfolio") %></h1>
		<div class="container">
			<div class="row">
				<div class="pf col-12 col-sm-6 col-md-4 col-lg-3">
					<a href="<%= @cl_here.image.url if @cl_here.image? %>" data-lightbox="image-1" data-title="<%= @cl_here.user.name %>">
						<div class="pf-img" style="background-image: url(<%= @cl_here.image.thumb.url %>);"></div>
					</a>
				</div>
				<% @portfolios.each do |portfolio| %>
					<div class="pf col-12 col-sm-6 col-md-4 col-lg-3">
						<a href="<%= portfolio.image.url if portfolio.image? %>" data-lightbox="image-1" data-title="<%= @cl_here.user.name %>">
							<div class="pf-img" style="background-image: url(<%= portfolio.image.thumb.url %>);"></div>
						</a>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<!-- 不動ボタン -->
<!-- lg以上 -->
<div class="cl-show cl-show-side-footer d-none d-lg-block">
	<% if @cl_here.user.image? %>
		<%= image_tag @cl_here.user.image.url(:thumb), alt: "icon", class: "round-img" %>
	<% else %>
		<%= render :partial => 'svgs/baby_80' %>
	<% end %>
	<p><%= @cl_here.user.name %></p>
	<div class="cl-show-side-footer-price">¥&nbsp;<%= @prim_price.price_per_hour %><%= t(".yen_per_hour") %></div>
	<p class="cl-show-side-footer-review">
		<% if @ev_nums.present? && @ev_nums > 0 %>
			<a class="all-review-inline" data-toggle="modal" data-target="#all-reviews">
				<%= @ev_nums %><%= t(".reviews") %>
			</a>
		<% else %>
			0<%= t(".reviews") %>
		<% end %>
	</p>
	<% if user_signed_in? %>
		<%= link_to new_event_path(id: @cl_here.id) do %>
			<div class="prim-btn cl-show-reserve-btn btn">
				<%= t(".researve") %>
			</div>
		<% end %>
	<!-- 未ログイン時 -->
	<% else %>
		<%= link_to new_user_session_path(rv_redirect_client_id: @cl_here.id), target: "_new" do %>
			<div class="prim-btn cl-show-btn-login btn">
				<%= t(".sign-in-for-researve") %>
			</div>
		<% end %>
	<% end %>
	<!-- メッセージを送る -->
	<!-- ログイン時 -->
	<div class="cl-show-side-footer-message">
		<% if user_signed_in? %>
			<%= link_to new_user_message_path(@cl_here.user.id) do %>
				<%= render :partial => 'svgs/mail' %>&nbsp;<%= t(".message") %>
			<% end %>
		<!-- 未ログイン時 -->
		<% else %>
			<%= link_to new_user_session_path(redirect_client_id: @cl_here.id), target: "_new" do %>
					<%= render :partial => 'svgs/mail' %>&nbsp;<%= t(".sign-in-for-ms") %>
			<% end %>
		<% end %>
	</div>
</div>

<!-- md以下 -->
<!-- ログイン時 -->
<div class="container-fluid cl-show cl-show-footer d-lg-none">
	<%= render :partial => 'svgs/fee' %>&nbsp;<%= @prim_price.price_per_hour %><%= t(".yen_per_hour") %>
	<% if user_signed_in? %>
		<%= link_to new_event_path(id: @cl_here.id) do %>
			<div class="prim-btn cl-show-reserve-btn btn">
				<%= t(".researve") %>
			</div>
		<% end %>
	<!-- 未ログイン時 -->
	<% else %>
		<%= link_to new_user_session_path(rv_redirect_client_id: @cl_here.id), target: "_new" do %>
			<div class="prim-btn cl-show-btn-login btn">
				<%= t(".sign-in-for-researve") %>
			</div>
		<% end %>
	<% end %>
</div>

<% assign_meta_tags title: t(".meta_title", name: @cl_here.user.name),
                    description: t(".meta_keywords", name: @cl_here.user.name),
                    keywords: t(".meta_description", name: @cl_here.user.name) %>