<!-- ##########  ヘッダー  ########## -->
<div class="container-fluid cl-show cl-show-1">
	<div class="container">
		<div class="row">
			<div class="cl-show-1-left col-3 col-sm-3 col-md-2">
				<%= image_tag @cl_here.user.image.url(:thumb), :alt => "icon" if @cl_here.user.image? %><br>
			</div>
			<div class="cl-show-1-middle col-9 col-sm-9 col-md-7">
				<%= @cl_here.user.name %><br>
				<!-- カテゴリー -->
<!-- 				<% @categories.each do |cate| %>
					<span class="badge badge-pill badge-light"><%= cate.category.ja %></span>
				<% end %><br> -->
				<!-- 言語 -->
				<% @langs.each do |lang| %>
					<span class="badge badge-pill badge-dark"><%= lang.language.ja %></span>
				<% end %><br>
			</div>



			<div class="cl-show-1-right col-12 col-sm-12 col-md-3">
				<!-- ログイン時 -->
				<% if user_signed_in? %>
					<%= link_to new_event_path(id: @cl_here.id) do %>
						<div class="prim-btn cl-show-1-btn btn">
							<%= t(".researve") %>
						</div>
					<% end %>
					<%= link_to new_user_message_path(@cl_here.user.id) do %>
						<div class="prim-btn cl-show-1-btn btn">
							<%= t(".message") %>
						</div>
					<% end %>
				<!-- 未ログイン時 -->
				<% else %>
					<%= link_to new_user_session_path(redirect_client_id: @cl_here.id), target: "_new" do %>
						<div class="prim-btn cl-show-1-btn-login btn">
							<%= t(".sign-in") %>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>



<!-- ##########  About  ########## -->
<div class="container-fluid cl-show cl-show-2">
	<h1>About</h1>
	<div class="container">
		<div class="row">
			<div>
				<h2><%= t(".Photographing_Categories") %></h2>
				<p>
					<% @categories.each do |cate| %>
						<%= cate.category.ja %><br>
					<% end %>
				</p>
				<h2><%= t(".Photographing_Area") %></h2>
				<p>
					<% @locations.each do |location| %>
						<%= location.prefecture.ja %>&nbsp;
					<% end %>
				</p>
				<h2><%= t(".Price") %></h2>
				<p><%= @prim_price.price_per_hour %><%= t(".yen_per_hour") %>&nbsp;
					<% if @prim_price.minimum_hours > 1 %>
						（<%= @prim_price.minimum_hours %><%= t(".hours_minimum") %>）
					<% end %>
				</p>
				<% if @options.present? %>
					<h2><%= t(".Option_memu") %></h2>
					<% @options.each do |option| %>
						<p>
							<%= option.name %>
							<% if option.along_with_time == "1" %>
								<%= t(".price_per_hour") %>
							<% end %>
							<%= option.price %>
						</p>
					<% end %>
				<% end %>
				<% if @cl_here.camera.present? %>
					<h2><%= t(".Camera") %></h2>
					<pre class="indent"><%= @cl_here.camera %></pre>
				<% end %>
				<h2><%= t(".Message") %></h2>
				<pre class="indent"><%= @cl_here.introduction %></pre>
			</div>
		</div>
	</div>
</div>




<!-- ##########  Portfolio  ########## -->
<div class="container-fluid cl-show cl-show-3">
	<h1>Portfolio</h1>
	<div class="container">
		<div class="row">
			<div class="pf col-12 col-sm-6 col-md-4 col-lg-3">
				<a href="<%= @cl_here.image.url if @cl_here.image? %>" data-lightbox="image-1" data-title="<%= @cl_here.user.name %>">
					<div class="pf-img" style="background-image: url(<%= @cl_here.image.url %>);"></div>
				</a>
			</div>
			<% @portfolios.each do |portfolio| %>
				<div class="pf col-12 col-sm-6 col-md-4 col-lg-3">
					<a href="<%= portfolio.image.url if portfolio.image? %>" data-lightbox="image-1" data-title="<%= @cl_here.user.name %>">
						<div class="pf-img" style="background-image: url(<%= portfolio.image.url %>);"></div>
					</a>
				</div>
			<% end %>
		</div>
	</div>
</div>





<!-- ##########  Schedule  ########## -->
<div class="container-fluid cl-show cl-show-4">
	<h1>Schedule</h1>
	<div class="container">

		<div id="calender-schedule-wrapper">
			<div class="row">
				<!-- 左側カレンダー -->
				<div class="calender-wrapper cal col-12 col-md-6 col-lg-4 offset-lg-2">
					<div class="calendar-base">
						<div class="row calendar-upper">
							<div class="calendar-upper-left cal col-7">
								<p><%= @day.strftime(" %m / %Y ") %></p>
							</div>
							<div class="calendar-upper-right cal col-5 calender-explanation clear-fix">
								<div class="active-day-example float-left"></div>
								<div class="float-left">撮影可能日</div>
							</div>
						</div>
						<table class="calendar">
						  <tr>
						    <% t('date.abbr_day_names').each do |day_name| %>
						      <td>
						        <%= day_name %>
						      </td>
						    <% end %>
						  </tr>
						  <% @c_dates.each do |c_date| %>
						    <% if c_date["date"].wday == 0 %>
						      <tr>
						    <% end %>
						    <td>
						    	<!-- 今月の日付たちをアコーディオンボタンに -->
						    	<% if c_date["date"].month != @day.month %>
							    	<span class="grey">
								      <%= c_date["date"].day %>
								     </span>
								  <% else %>
										<div class="btn collapsed" data-toggle="collapse" data-target=<%= "#" + c_date["date"].strftime("%Y%m%d") %> aria-expanded="true" aria-controls="">
											<div class="active-day" ><%= c_date["date"].day %></div>
										</div>
								  <% end %>
								</td>
								<% if c_date["date"].wday == 6 %>
									</tr>
								<% end %>
							<% end %>
						</table>
					</div>
				</div>

				<!-- 右側スケジュール -->
				<div class="calender-wrapper cal col-12 col-md-6 col-lg-4">
					<div class="calendar-base">
						<div class="schedule-base">
							<div class="schedule-upper">
								予定<br>
								<span class="text-explanation">カレンダーから日付を選択してください</span>
							</div>
							<div class="schedule-middle">
								<% @c_dates.each do |c_date| %>
									<div id=<%= c_date["date"].strftime("%Y%m%d") %> class="collapse" aria-labelledby="" data-parent="#calender-schedule-wrapper">
										<%= c_date["schedule"] %>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div><!-- endofcalender-wrapper -->
			</div><!-- endofRow -->
		</div><!-- endofcalender-schedule-wrapper -->
	</div><!-- endofContainer -->
</div><!-- endofcontainer-fluid -->


<div class="container-fluid cl-show cl-show-5">
	<!-- ログイン時 -->
	<% if user_signed_in? %>
		<%= link_to new_event_path(id: @cl_here.id) do %>
			<div class="prim-btn cl-show-1-btn btn margin-auto">
				<%= t(".researve") %>
			</div>
		<% end %>
		<%= link_to new_user_message_path(@cl_here.user.id) do %>
			<div class="prim-btn cl-show-1-btn btn margin-auto">
				<%= t(".message") %>
			</div>
		<% end %>
	<!-- 未ログイン時 -->
	<% else %>
		<%= link_to new_user_session_path(redirect_client_id: @cl_here.id), target: "_new" do %>
			<div class="prim-btn cl-show-1-btn-login btn margin-auto">
				<%= t(".sign-in") %>
			</div>
		<% end %>
	<% end %>
</div>