<h1><%= @name %>さんがカメラマン登録</h1>

<p>id:<%= @id %></p>
<p>name:<%= @name %></p>
<p>mail:<%= @mail %></p>
<p>created_at:<%= @created_at %></p>
<p>consented_at:<%= @consented_at %></p>
<p>tel:<%= @tel %></p>
<p>address:<%= @address %></p>
