<!-- 撮影条件変更を断る -->
<button type="button" class="btn prim-btn ev-states-btn" data-toggle="modal" data-target="#cs_dismiss">
	<%= t(".Dismiss_Edited_Condition") %>
</button>
<!-- 撮影条件変更を断るModal -->
<div class="modal fade" id="cs_dismiss" tabindex="-1" role="dialog" aria-labelledby="cs_dismissTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="cs_dismissLongTitle"><%= t(".Dismiss_Edited_Condition") %></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<%= form_tag cs_dismiss_event_event_states_path (event) do %>
				<div class="modal-body">
					<%= text_area_tag 'comment', t(".cs_dismiss_comment"), class: "ev-state-comment" %>
				</div>
				<div class="modal-footer">
					<%= submit_tag t(".Send"), class: "prim-btn btn" %>
				</div>
			<% end %>
		</div>
	</div>
</div>