<!-- 撮影条件変更を断る -->
<button type="button" class="btn prim-btn ev-states-btn" data-toggle="modal" data-target="#cs_recieve">
	<%= t(".Recieve_photos") %>
</button>
<!-- 撮影条件変更を断るModal -->
<div class="modal fade" id="cs_recieve" tabindex="-1" role="dialog" aria-labelledby="cs_recieveTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="cs_recieveLongTitle"><%= t(".Recieve_photos") %></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<%= form_tag cs_recieve_event_event_states_path (event),format: :zip do %>
				<div class="modal-body">
					<%= text_area_tag 'comment', t(".cs_recieve_comment"), class: "ev-state-comment" %>
				</div>
				<div class="modal-footer">
					<%= submit_tag t(".download_zip"), class: "prim-btn btn" %>
				</div>
			<% end %>
		</div>
	</div>
</div>