<!-- 撮影をキャンセル -->
<button type="button" class="btn prim-btn ev-states-btn" data-toggle="modal" data-target="#cs_complain_1">
	<%= t(".Complain") %>
</button>
<!-- 撮影をキャンセルModal -->
<div class="modal fade" id="cs_complain_1" tabindex="-1" role="dialog" aria-labelledby="cs_complain_1Title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="cs_complain_1LongTitle"><%= t(".Complain_to_Photographer") %></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<%= form_tag cs_complain_1_event_event_states_path (event) do %>
				<div class="modal-body">
					<%= text_area_tag 'comment', "", class: "ev-state-comment" %>
				</div>
				<div class="modal-footer">
					<%= submit_tag t(".Send"), class: "prim-btn btn" %>
				</div>
			<% end %>
		</div>
	</div>
</div>