<div class="container-fluid ev-base-common ev-new">
	<h1><%= t(".Edit_Conditions") %></h1>

	<!-- カレンダー  -->
	<div id="cl-show4-calender" class="container-fluid cl-show cl-show-4">
		<h1><%= t(".Check_Your_Shedule") %></h1>
		<%= render partial: 'clients/show4_calender', locals: {cl_here: @cl_here, day: @day, c_dates: @c_dates } %>
	</div>

	<!-- 	フォーム -->
	<div class="row">
		<div class="left-align col-12 col-md-6 offset-md-3">
			<%= form_for @event do |f| %>

				<!-- 日時 -->
				<div class="ev-new-datetime">
					<h2>
						<%= render :partial => 'svgs/date' %>&nbsp;<%= t(".Request_date_and_time") %>
					</h2>
					<h3>
						<%= t(".15_minute_increments") %>
						<%= t(".hours_explanation1") %><%= @prim_price.minimum_hours %><%= t(".hours_explanation2") %>
					</h3>
					<div class="ev-square white-back ev-new-time">
						<input id="date" name="date" type="date" min="<%= @day.strftime("%Y-%m-%d")%>" max="<%= (@day + 365).strftime("%Y-%m-%d") %>" required value=<%= @ev_date %>>
						<%= f.time_field :start_time, step: "900", required: true%>
						〜
						<%= f.time_field :end_time, step: "900", required: true %>
					</div>
					<span id="time-validation"></span>
				</div>


				<!-- 場所選択 -->
				<div class="ev-new-location">
					<h2>
						<%= render :partial => 'svgs/location' %>&nbsp;<%= t(".Photographing_Location") %>
					</h2>
					<div class="ev-square grey-back">
						<%= @event.prefecture.ja %><br>
						<%= @event.location_detail %>
					</div>
				</div>


				<!-- 撮影人数 -->
				<div class="ev-new-people">
					<h2>
						<%= render :partial => 'svgs/people' %>&nbsp;<%= t(".How_many_people?") %>
					</h2>
					<div class="ev-square grey-back">
						<%= @event.num_people %>
					</div>
				</div>

				<!-- あいさつ -->
				<div class="ev-new-comment">
					<h2>
						<%= render :partial => 'svgs/message' %>&nbsp;<%= t(".Say_hello") %>
					</h2>
					<div class="ev-square grey-back">
						<%= @event.message %>
					</div>
				</div>


				<!-- オプション -->
				<div class="ev-new-option">
					<h2>
						<%= render :partial => 'svgs/date' %>&nbsp;<%= t(".Option_Menu") %>
					</h2>
					<h3><%= t(".per_hour_automatically_culculates") %></h3>
					<table id="OptionTable" class="table ev-table">
						<thead>
							<tr>
								<td><%= t(".option_name") %></td>
								<td><%= t(".price") %></td>
								<td><%= t(".number") %></td>
							</tr>
						</thead>
						<tbody>
							<% @ev_options.each do |ev_opt| %>
								<tr>
									<td>
										<%= ev_opt.client_option_price.name %>
									</td>
									<td>
										<% if ev_opt.client_option_price.along_with_time == true %>
											<span id = <%= "along_" + @i.to_s %>>
												<%= t(".price_per_hour") %>
											</span>
										<% end %>
										<span id=<%= "option_price_" + @i.to_s %> >
											<%= ev_opt.client_option_price.price %>
										</span>
										<%= t(".yen") %>
									</td>
									<td>
										<%= f.number_field :numbers, min: "0", max: "100", value: ev_opt.numbers, name: "event[event_option_prices_attributes][" + ev_opt.client_option_price.id.to_s + "]", id: "event_event_option_prices_attributes_" + @i.to_s + "_numbers", pattern: "[1-9][0-9]*", required: true %>
									</td>
								</tr>
								<% @i = @i + 1 %>
							<% end %>
							<% @options.each do |option| %>
								<% if @ev_opt_ids.include?(option.id) == false %>
									<tr>
										<td>
											<%= option.name %>
										</td>
										<td>
											<% if option.along_with_time == true %>
												<span id = <%= "along_" + @x.to_s %>>
													<%= t(".price_per_hour") %>
												</span>
											<% end %>
											<span id=<%= "option_price_" + @x.to_s %> >
												<%= option.price %>
											</span>
											<%= t(".yen") %>
										</td>
										<td>
											<%= f.number_field :numbers, min: "0", max: "100", value: "0", name: "event[event_option_prices_attributes][" + option.id.to_s + "]", id: "event_event_option_prices_attributes_" + @x.to_s + "_numbers", pattern: "[1-9][0-9]*", required: true %>
										</td>
									</tr>
									<% @x = @x + 1 %>
								<% end %>
							<% end %>
						</tbody>
					</table>
				</div>




				<!-- 料金計算 -->
				<div class="ev-fee">
					<h2>
						<%= render :partial => 'svgs/fee' %>&nbsp;<%= t(".Fee") %>
					</h2>
					<table id="FeeTable" class="table ev-table">
						<thead>
							<tr>
								<td><%= t(".item_name") %></td>
								<td><%= t(".price") %></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<%= t(".Primary_Price") %>&emsp;
									<span id="prime_price">
										<%= @prim_price.price_per_hour %>
									</span>
									<%= t(".yen") %>
									×<span id="hours"><%= @ev_prim_price.hours %></span><%= t(".hours") %>
								</td>
								<td><span id="total_prime_price"><%= @event.primary_price_sum %></span><%= t(".yen") %></td>
							</tr>
							<% @ev_options.each_with_index do |ev_opt, i | %>
								<tr>
									<td>
										<%= ev_opt.client_option_price.name %>&emsp;
										<% if ev_opt.client_option_price.along_with_time == true %>
											<%= t(".price_per_hour") %>
										<% end %>
										<%= ev_opt.client_option_price.price %><%= t(".yen") %>
										×<span id=<%= "option_num_" + i.to_s %> >
											<%= ev_opt.numbers %>
										</span>
									</td>
									<td>
										<span id=<%= "cal_option_price_" + i.to_s %> >
											<%= ev_opt.price_sum %>
										</span>
										<%= t(".yen") %>
									</td>
								</tr>
							<% end %>
							<% @options.each do |option| %>
								<% if @ev_opt_ids.include?(option.id) == false %>
									<tr>
										<td>
											<%= option.name %>&emsp;
											<% if option.along_with_time == true %>
												<%= t(".price_per_hour") %>
											<% end %>
											<%= option.price %><%= t(".yen") %>
											×<span id=<%= "option_num_" + @y.to_s %> >
												0
											</span>
										</td>
										<td>
											<span id=<%= "cal_option_price_" + @y.to_s %> >
											0
											</span>
											<%= t(".yen") %>
										</td>
									</tr>
									<% @y = @y + 1 %>
								<% end %>
							<% end %>
							<tr class="TotalFee">
								<td>
									<%= t(".Total_Fee") %>
								</td>
								<td>
									<span id=<%= "total_fee" %> >
										0
									</span>
									<%= t(".yen") %>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<!-- コメント -->
				<div class="ev-edit-comment">
					<h2>
						<%= render :partial => 'svgs/message' %>&nbsp;<%= t(".Message") %>
					</h2>
					<div class="ev-square white-back">
						<textarea name="comment"><%= t(".cl_edit_comment") %></textarea>
					</div>
				</div>


				<%= f.hidden_field :client_id%>

				<% if @event.client_id == @cl.id && @event.event_states.last.state == "request" %>
					<!-- 送信ボタン -->
					<div class="ev-new-submit">
						<span id="time-validation-2"></span><br>
						<span id="fee-validation"></span><br>
						<%= f.submit  t(".Send_request"), class: "big-prim-btn btn", id: "ev-new-btn" %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>




<!--/////// 計算 /////// -->
<script>
	// 撮影料金計算
	function cultulate_prim_price(){
		var prime_price = parseInt($('#prime_price').text(), 10);
		var hours = (new Date(($('#date').val()+'T'+$('#event_end_time').val()+'Z')) - new Date(($('#date').val()+'T'+$('#event_start_time').val()+'Z'))) / (1000 * 60 * 60 );
		var total_prime_price = prime_price * hours

		// 時間描画
		if (hours > 0) {
			$('#hours').text(hours);
		} else {
			$('#hours').text('0');
		}
		// 撮影価格描画
		if (total_prime_price > 0) {
			$('#total_prime_price').text(total_prime_price);
		} else {
			$('#total_prime_price').text('0');
		}
	}

	// 元からあるオプション料金計算
	function cultulate_option_price(){
		// 元からあるオプション数カウント
		var option_rows = <%= @ev_opt_ids.count %>;

		var i = 0;
		while (i < option_rows) {
				// オプション数量
				var num_id = '#event_event_option_prices_attributes_'+i+'_numbers';
				var option_num = parseInt($(num_id).val(), 10);

				//１時間ごと
				var along_id = '#along_' + i
				var along = $(along_id).text().replace(/^\s+|\s+$/g,'');
				if (along == '１時間あたり') {
					var hours = parseFloat($('#hours').text(), 10);
				} else {
					var hours = 1;
				}

				// オプション価格
				var price_id = '#option_price_' + i
				var option_price = parseInt($(price_id).text(), 10);

				// オプション価格（計算後）
				var cul_option_price = option_num * option_price * hours;

				// オプション数描画
				var changed_opt_num_id = '#option_num_' + i;
				$(changed_opt_num_id).text(option_num);

				// オプション価格（計算後）描画
				var cal_opt_price_id = '#cal_option_price_' + i;
				$(cal_opt_price_id).text(cul_option_price);

				var i = i + 1;
		}
		// 新しくできたオプション数カウント
		var option_rows = <%= @opt_diff.count %>;

		var x = 1000;
		while (x < option_rows + 1000) {
				// オプション数量
				var num_id = '#event_event_option_prices_attributes_'+x+'_numbers';
				var option_num = parseInt($(num_id).val(), 10);

				//１時間ごと
				var along_id = '#along_' + x
				var along = $(along_id).text().replace(/^\s+|\s+$/g,'');
				if (along == '１時間あたり') {
					var hours = parseFloat($('#hours').text(), 10);
				} else {
					var hours = 1;
				}

				// オプション価格
				var price_id = '#option_price_' + x
				var option_price = parseInt($(price_id).text(), 10);

				// オプション価格（計算後）
				var cul_option_price = option_num * option_price * hours;

				// オプション数描画
				var changed_opt_num_id = '#option_num_' + x;
				$(changed_opt_num_id).text(option_num);

				// オプション価格（計算後）描画
				var cal_opt_price_id = '#cal_option_price_' + x;
				$(cal_opt_price_id).text(cul_option_price);

				var x = x + 1;
		}
	}




	// 合計金額計算
	function cultulate_total_fee(){
		// 元からあるオプション数カウント
		var option_rows = <%= @ev_opt_ids.count %>;
		// 元からあるオプション価格
		x = 0;
		var total_opt_price = 0;
		while (x < option_rows) {
				var cal_opt_price_id = '#cal_option_price_' + x;
				var option_price = parseInt($(cal_opt_price_id).text(), 10);
				var total_opt_price = total_opt_price + option_price
				x = x + 1;
		}
		// 新しいオプション数カウント
		var option_rows = <%= @opt_diff.count %>;
		// 新しいオプション価格
		x = 1000;
		while (x < option_rows + 1000) {
				var cal_opt_price_id = '#cal_option_price_' + x;
				var option_price = parseInt($(cal_opt_price_id).text(), 10);
				var total_opt_price = total_opt_price + option_price
				x = x + 1;
		}

		// 撮影価格
		var total_prime_price = parseInt($('#total_prime_price').text(), 10);

		// 合計価格描画
		var cul_total_price = total_prime_price + total_opt_price;
		$('#total_fee').text(cul_total_price);
		if (cul_total_price < 0 ) {
			$('#fee-validation').text('価格がマイナスの値になっています');
			$("#ev-new-btn").prop("disabled", true);
		} else {
			$('#fee-validation').text('');
			$("#ev-new-btn").prop("disabled", false);
		}
	}


	// 時間前後validation
	function check_time(){
		var start_time = parseInt($('#event_start_time').val().substr(0,2)+$('#event_start_time').val().substr(3,2), 10);
		var end_time = parseInt($('#event_end_time').val().substr(0,2)+$('#event_end_time').val().substr(3,2), 10);
		if (start_time >= end_time) {
			$('#time-validation').text('時間が前後しています');
			$('#time-validation-2').text('予約時間が前後しています');
			$("#ev-new-btn").prop("disabled", true);
		} else {
			$('#time-validation').text('');
			$('#time-validation-2').text('');
			$("#ev-new-btn").prop("disabled", false);
		}
	}



	$("#ev-new-btn").prop("disabled", false);

	$(function() {
		$('input[type="time"]').on('keyup change', function() {
			check_time();
			$.when(
				cultulate_prim_price(),
				cultulate_option_price()
			).done(function(){
				cultulate_total_fee();
			});
		});
		$('input[type="date"]').on('keyup change', function() {
			$.when(
				cultulate_prim_price(),
				cultulate_option_price()
			).done(function(){
				cultulate_total_fee();
			});
		});
		$('input[type="number"]').on('keyup change', function() {
			$.when(
				cultulate_option_price()
			).done(function(){
				cultulate_total_fee();
			});
		});
	});

</script>