<!-- レビューを書く -->
<div class="container-fluid ev-review">
	<div class="col-12 col-md-6 offset-md-3">
		<!-- cl 過去の場合 -->
		<% if @event.client_id == @cl.id && @event.start_time <= Time.now() %>
			<!-- 納品済み or 受け取り済み  状態 -->
			<% if @event.event_states.last.state.in?(['cl_delivered', 'cs_recieved']) %>
				<!-- 未cl_review -->
				<% if @ev_rev.cl_review == nil %>
					<h1><%= t(".Write_reviews") %></h1>
					<%= form_for ([@event, @ev_rev]) do |f| %>
						<h2>
							<%= render :partial => 'svgs/review' %>&nbsp;<%= t(".Review_about_cs", name: @cs_here.user.name) %>
						</h2>
						<div class="ev-square white-back">
							<%= f.text_area :cl_review, rows: "8", maxlength: "2000", placeholder:  t(".cl_review_placeholder", name: @cs_here.user.name), required: true %>
						</div>
						<%= f.submit t(".Post_reviews"), class: "prim-btn review-post-btn" %>
					<% end %>
				<% else %><!-- endOf 未cl_review & startOf 両方review済み -->
					<% if @ev_rev.cs_review.present? && @ev_rev.cl_comment == nil %>
						<h2>
							<%= render :partial => 'svgs/message' %>&nbsp;<%= t(".Review_about_you") %>
						</h2>
						<!-- レビュー星 -->
						<div id='rating-stars-show-for-reply' class="left-align"></div>
						<script>
							$.fn.raty.defaults.path = "/images";
							$('#rating-stars-show-for-reply').raty({
								readOnly: true,
								score: <%= @ev_rev.stars %>
							});
						</script>
						<div class="ev-square grey-back">
							<pre><%= @ev_rev.cs_review %></pre>
						</div>
						<%= form_for ([@event, @ev_rev]) do |f| %>
							<h2>
								<%= render :partial => 'svgs/review' %>&nbsp;<%= t(".Comment_on_a_review", name: @cs_here.user.name) %>
							</h2>
							<div class="ev-square white-back">
								<%= f.text_area :cl_comment, rows: "8", maxlength: "2000", placeholder:  t(".cl_comment_placeholder", name: @cs_here.user.name), required: true %>
							</div>
							<%= f.submit t(".Post_reviews"), class: "prim-btn review-post-btn" %>
						<% end %>
					<% end %>
				<% end %><!-- endOf cl_review済み -->
			<% end %><!-- endOf 納品済み or 受け取り済み 状態 -->
		<% end %><!-- endOf cl 過去の場合 -->


		<!-- cs 過去の場合 -->
		<% if @event.customer_id == @cs.id && @event.start_time <= Time.now() %>
			<!-- 受け取り済み  状態 -->
			<% if @event.event_states.last.state.in?(['cs_recieved']) %>
				<!-- 未cs_review -->
				<% if @ev_rev.cs_review == nil %>
					<h1><%= t(".Write_reviews") %></h1>
					<%= form_for ([@event, @ev_rev]) do |f| %>
						<h2>
							<%= render :partial => 'svgs/location' %>&nbsp;<%= t(".Review_about_cs", name: @cl_here.user.name) %>
						</h2>
						<!-- レビュー星 -->
						<div id='rating-stars' class="left-align"></div>
						<script>
							$.fn.raty.defaults.path = "/images";
							$('#rating-stars').raty({
								size: 36,
								score: 3
							});
						</script>
						<!-- レビューコメント -->
						<div class="ev-square white-back">
							<%= f.text_area :cs_review, rows: "8", maxlength: "2000", placeholder:  t(".cs_review_placeholder", name: @cl_here.user.name), required: true %>
						</div>
						<div class="left-align indent">
							<strong><%= t(".Attach_images") %></strong><br>
							<%= f.file_field :cs_image_1 %><br>
							<%= f.file_field :cs_image_2 %><br>
							<%= f.file_field :cs_image_3 %><br>
							<%= f.file_field :cs_image_4 %><br>
							<%= f.file_field :cs_image_5 %><br>
							<%= f.file_field :cs_image_6 %><br>
							<br>
						</div>
						<%= f.submit t(".Post_reviews"), class: "prim-btn review-post-btn" %>
					<% end %>
				<% end %><!-- endOf 未cs_review -->
			<% end %><!-- endOf 受け取り済み -->
		<% end %><!-- endOf cs 過去の場合 -->
	</div>
</div><!-- endOf レビューを書く -->



<div class="container-fluid ev-base-common ev-show">
	<h1><%= t(".Session_Details") %></h1>
	<div class="row">
		<div class="col-12 col-md-6 offset-md-3">

			<!-- 名前 -->
			<div class="ev-show-names clearfix">
				<div class="float-left">
					<%= @cs_here.user.name %>
				</div>
				<div class="float-right">
					<%= @cl_here.user.name %>
				</div>
			</div>
			<!-- アイコン -->
			<div class="ev-show-icons clearfix">
				<div class="float-left">
					<% if @cs_here.user.image? %>
						<%= image_tag @cs_here.user.image.url, alt: "icon" %>
					<% else %>
						<%= render :partial => 'svgs/baby' %>
					<% end %>
				</div>
				<div class="float-right">
					<% if @cl_here.user.image? %>
						<%= image_tag @cl_here.user.image.url, alt: "icon" %>
					<% else %>
						<%= render :partial => 'svgs/baby' %>
					<% end %>
				</div>
			</div>


			<!-- メッセージを送る -->
			<!-- to cl -->
			<div class="ev-show-message-btn">
				<% if @cl_here.user != current_user %>
					<%= link_to new_user_message_path(@cl_here.user.id) do %>
						<div class="white-btn">
						<%= t(".message") %>
						</div>
					<% end %>
				<% end %>
				<!-- to cs -->
				<% if @cs_here.user != current_user %>
					<%= link_to new_user_message_path(@cs_here.user.id) do %>
						<div class="white-btn">
						<%= t(".message") %>
						</div>
					<% end %>
				<% end %>
			</div>

			<!-- 日時 -->
			<div>
				<h2>
					<%= render :partial => 'svgs/date' %>&nbsp;<%= t(".Date_and_Time") %>
				</h2>
				<div class="ev-square grey-back">
					<%= @day %>（<%= @wday %>）&emsp;<%= @start_time %>〜<%= @end_time %>
				</div>
			</div>


			<!-- 人数 -->
			<div>
				<h2>
					<%= render :partial => 'svgs/people' %>&nbsp;<%= t(".How_many_people?") %>
				</h2>
				<div class="ev-square grey-back ">
					<%= @event.num_people %>
				</div>
			</div>


			<!-- 場所 -->
			<div>
				<h2>
					<%= render :partial => 'svgs/location' %>&nbsp;<%= t(".Location") %>
				</h2>
				<div class="ev-square grey-back">
					<%= @prefecture.ja %><br>
					<pre><%= @event.location_detail %></pre>
				</div>
			</div>


			<!-- コメント -->
			<div>
				<h2>
					<%= render :partial => 'svgs/message' %>&nbsp;<%= t(".Message") %>
				</h2>
				<div class="ev-square grey-back">
					<pre><%= @event.message %></pre>
				</div>
			</div>


			<!-- 料金 -->
			<div class="ev-table ev-fee">
				<h2><%= render :partial => 'svgs/fee' %><%= t(".Fee") %></h2>
				<table id="FeeTable" class="table">
					<thead>
						<tr>
							<td><%= t(".item_name") %></td>
							<td><%= t(".price") %></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<%= t(".Primary_Price") %>&emsp;
								<%= @prim_price.price_per_hour %><%= t(".yen") %>
								×<span id="hours"><%= @ev_prim_price.hours %></span><%= t(".hours") %>
							</td>
							<td><%= @ev_prim_price.price_sum %><%= t(".yen") %></td>
						</tr>
						<% if @options.present? %>
							<% @options.each_with_index do |option, i | %>
								<tr>
									<td>
										<%= option.client_option_price.name %>&emsp;
										<% if option.client_option_price.along_with_time == true %>
											<%= t(".price_per_hour", price: option.client_option_price.price) %>
										<% else %>
											<%= option.client_option_price.price %><%= t(".yen") %>
										<% end %>
										×<%= option.numbers %>
									</td>
									<td>
										<%= option.price_sum %>
										<%= t(".yen") %>
									</td>
								</tr>
							<% end %>
						<% end %>
						<tr class="TotalFee">
							<td>
								<%= t(".Total_Fee") %>
							</td>
							<td>
								<%= @event.total_price %>
								<%= t(".yen") %>
							</td>
						</tr>
					</tbody>
				</table>
			</div>


			<!-- 履歴 -->
			<div class="ev-table ev-history">
				<h2><%= render :partial => 'svgs/history' %><%= t(".History") %></h2>
				<table class="table">
					<thead>
						<tr>
							<td><%= t(".State") %></td>
							<td><%= t(".Comment") %></td>
						</tr>
					</thead>
					<tbody>
						<% @event.event_states.each do |state| %>
							<tr>
								<td>
									<% if state.state == "request" %>
										<span class="datetime"><%= @cs_here.user.name %></span><br>
										<%= t(".request") %>
									<% end %>
									<% if state.state == "cl_accepted" %>
										<span class="datetime"><%= @cl_here.user.name %></span><br>
										<%= t(".cl_accepted") %>
									<% end %>
									<% if state.state == "cl_delivered" %>
										<span class="datetime"><%= @cl_here.user.name %></span><br>
										<%= t(".cl_delivered") %>
									<% end %>
									<% if state.state == "cs_recieved" %>
										<span class="datetime"><%= @cs_here.user.name %></span><br>
										<%= t(".cs_recieved") %>
									<% end %>
									<% if state.state == "cl_edited" %>
										<span class="datetime"><%= @cl_here.user.name %></span><br>
										<%= t(".cl_edited") %>
									<% end %>
									<% if state.state == "cs_accepted" %>
										<span class="datetime"><%= @cs_here.user.name %></span><br>
										<%= t(".cs_accepted") %>
									<% end %>
									<% if state.state == "cl_dismissed" %>
										<span class="datetime"><%= @cl_here.user.name %></span><br>
										<%= t(".cl_dismissed") %>
									<% end %>
									<% if state.state == "cs_dismissed" %>
										<span class="datetime"><%= @cs_here.user.name %></span><br>
										<%= t(".cs_dismissed") %>
									<% end %>
									<% if state.state == "cs_request_canceled" %>
										<span class="datetime"><%= @cs_here.user.name %></span><br>
										<%= t(".cs_request_canceled") %>
									<% end %>
									<% if state.state == "cs_canceled" %>
										<span class="datetime"><%= @cs_here.user.name %></span><br>
										<%= t(".cs_canceled") %>
									<% end %>
									<% if state.state == "cl_canceled" %>
										<span class="datetime"><%= @cl_here.user.name %></span><br>
										<%= t(".cl_canceled") %>
									<% end %>
								</td>
								<td>
									<% if state.state == "request" %>
										<span class="datetime"><%= state.created_at %></span><br>
										<%= @event.message %>
									<% else %>
										<span class="datetime"><%= state.created_at %></span><br>
										<%= state.comment %>
									<% end %>
								</td>
							</tr>
						<% end %>
						<% if @event.event_states.last.state == "request" &&  @event.start_time < Time.now() %>
							<td>
								<span class="datetime"><%= @cl_here.user.name %></span><br>
								<%= t(".request_canceled") %>
							</td>
							<td>
								<span class="datetime"><%= @event.start_time %></span><br>
								<%= t(".Photographer_no_replied") %>
							</td>
						<% end %>
						<% if @event.event_states.last.state == "cl_edited" &&  @event.start_time < Time.now() %>
							<td>
								<span class="datetime"><%= @cs_here.user.name %></span><br>
								<%= t(".request_canceled") %>
							</td>
							<td>
								<span class="datetime"><%= @event.start_time %></span><br>
								<%= t(".Customer_no_replied") %>
							</td>
						<% end %>
					</tbody>
				</table>
			</div>


			<!-- event_stateボタン -->
			<div class="ev-states-btns">

				<!-- cl 将来 の場合 -->
				<% if @event.client_id == @cl.id && @event.start_time > Time.now() %>
					<!-- リクエスト状態 -->
					<% if @event.event_states.last.state == "request" %>
						<!-- 撮影承認 -->
						<%= render :partial => 'events/cl_accept', :locals=>{event: @event} %>
						<!-- 撮影を断る -->
						<%= render :partial => 'events/cl_dismiss', :locals=>{event: @event} %>
						<!-- 撮影条件変更を提案する -->
						<%= link_to edit_event_path(id: @event.id, client_id: @cl_here.id), class: "btn prim-btn ev-states-btn" do %>
							<%= t(".Edit") %>
						<% end %>
					<% end %><!-- endOf リクエスト状態 -->

					<!-- 撮影確定状態 -->
					<% if @event.event_states.last.state.in?(['cl_accepted','cs_accepted']) %>
						<!-- 撮影をキャンセルする -->
						<%= render :partial => 'events/cl_cancele', :locals=>{event: @event} %>
					<% end %><!-- endOf 撮影確定状態 -->
				<% end %><!-- cl 将来 の場合 -->


				<!-- cl 過去 の場合 -->
				<% if @event.client_id == @cl.id && @event.start_time <= Time.now() %>
					<!-- 撮影確定状態 -->
					<% if @event.event_states.last.state.in?(['cl_accepted','cs_accepted']) %>
						<!-- 写真納品完了 -->
						<% if @ev_photo_nums > 0 %>
							<%= render :partial => 'events/cl_deliver', :locals=>{event: @event} %>
						<% else %>
							<button class="prim-btn" onclick="koshin()"><%= t(".check_uploaded_photos") %></button>
						<% end %>
					<% end %><!-- endOf 撮影確定状態 -->
				<% end %><!-- endOf cl 過去の場合 -->


				<!-- cs 将来の場合 -->
				<% if @event.customer_id == @cs.id && @event.start_time > Time.now() %>
					<!-- リクエスト状態 -->
					<% if @event.event_states.last.state == "request" %>
						<!-- リクエストをキャンセルする -->
						<%= render :partial => 'events/cs_request_cancele', :locals=>{event: @event} %>
					<% end %><!-- endOf リクエスト状態 -->
					<!-- 撮影確定状態 -->
					<% if @event.event_states.last.state.in?(['cl_accepted','cs_accepted']) %>
						<!-- 予約をキャンセルする -->
						<%= render :partial => 'events/cs_cancele', :locals=>{event: @event} %>
					<% end %><!-- endOf 撮影確定状態 -->

					<!-- 撮影条件変更依頼状態 -->
					<% if @event.event_states.last.state == "cl_edited" %>
						<!-- 撮影条件変更を承認する -->
						<%= render :partial => 'events/cs_accept', :locals=>{event: @event} %>
						<!-- 撮影条件変更を断る -->
						<%= render :partial => 'events/cs_dismiss', :locals=>{event: @event} %>
					<% end %><!-- endOf 撮影条件変更依頼状態 -->
				<% end %><!-- endOf cs 将来の場合 -->


				<!-- cs 過去の場合 -->
				<% if @event.customer_id == @cs.id && @event.start_time <= Time.now() %>
					<!-- 撮影確定状態 -->
					<% if @event.event_states.last.state.in?(['cl_accepted','cs_accepted']) %>
					<% end %><!-- endOf 撮影確定状態 -->
					<!-- 納品済み状態 -->
					<% if @event.event_states.last.state == "cl_delivered" %>
						<!-- 写真を受け取る -->
						<%= render :partial => 'events/cs_recieve', :locals=>{event: @event} %>
					<% end %><!-- endOf 納品済み状態 -->
					<!-- 写真受け取り済み状態 -->
					<% if @event.event_states.last.state == "cs_recieved" %>
						<!-- 再度zip_dl -->
						<%= link_to t(".download_zip"), zip_dl_event_event_photos_path(format: :zip, event_id: @event.id), class: "btn prim-btn" %>
					<% end %><!-- endOf 写真受け取り済み状態 -->
				<% end %><!-- cs 過去の場合 -->
			</div><!-- endOf event_stateボタン -->


			<!-- レビュー -->
			<!-- cl 過去の場合 & cl_reviewあり -->
			<% if @event.client_id == @cl.id && @event.start_time <= Time.now() && @ev_rev.cl_review.present? %>
				<div>
					<h2>
						<%= render :partial => 'svgs/review' %>&nbsp;<%= t(".Review_by_you") %>
					</h2>
					<div class="ev-square grey-back">
						<pre><%= @ev_rev.cl_review %></pre>
					</div>
				</div>
				<!-- cs_reviewあり -->
				<% if @ev_rev.cs_review.present? %>
					<div>
						<h2>
							<%= render :partial => 'svgs/review' %>&nbsp;<%= t(".Review_about_you") %>
						</h2>
						<!-- レビュー星 -->
						<div id='rating-stars-show' class="left-align"></div>
						<script>
							$.fn.raty.defaults.path = "/images";
							$('#rating-stars-show').raty({
								readOnly: true,
								score: <%= @ev_rev.stars %>
							});
						</script>
						<!-- レビューコメント -->
						<div class="ev-square grey-back">
							<pre><%= @ev_rev.cs_review %></pre>
							<!-- cl_commentあり -->
							<% if @ev_rev.cl_comment.present? %>
								<hr>
								<%= t(".Reply_to_cs") %>
								<pre><%= @ev_rev.cl_comment %></pre>
							<% end %><!-- endOf cl_commentあり -->
						</div>
						<!-- レビュー写真 -->
						<div class="review-photo container">
							<div class="row">
								<% if @ev_rev.cs_image_1? %>
									<a href="<%= @ev_rev.cs_image_1.url if @ev_rev.cs_image_1? %>" data-lightbox="image-1">
										<div class="rview-img" style="background-image: url(<%= @ev_rev.cs_image_1.url %>);"></div>
									</a>
								<% end %>
								<% if @ev_rev.cs_image_2? %>
									<a href="<%= @ev_rev.cs_image_2.url if @ev_rev.cs_image_2? %>" data-lightbox="image-2">
										<div class="rview-img" style="background-image: url(<%= @ev_rev.cs_image_2.url %>);"></div>
									</a>
								<% end %>
								<% if @ev_rev.cs_image_3? %>
									<a href="<%= @ev_rev.cs_image_3.url if @ev_rev.cs_image_3? %>" data-lightbox="image-3">
										<div class="rview-img" style="background-image: url(<%= @ev_rev.cs_image_3.url %>);"></div>
									</a>
								<% end %>
								<% if @ev_rev.cs_image_4? %>
									<a href="<%= @ev_rev.cs_image_4.url if @ev_rev.cs_image_4? %>" data-lightbox="image-4">
										<div class="rview-img" style="background-image: url(<%= @ev_rev.cs_image_4.url %>);"></div>
									</a>
								<% end %>
								<% if @ev_rev.cs_image_5? %>
									<a href="<%= @ev_rev.cs_image_5.url if @ev_rev.cs_image_5? %>" data-lightbox="image-5">
										<div class="rview-img" style="background-image: url(<%= @ev_rev.cs_image_5.url %>);"></div>
									</a>
								<% end %>
								<% if @ev_rev.cs_image_6? %>
									<a href="<%= @ev_rev.cs_image_6.url if @ev_rev.cs_image_6? %>" data-lightbox="image-6">
										<div class="rview-img" style="background-image: url(<%= @ev_rev.cs_image_6.url %>);"></div>
									</a>
								<% end %>
							</div>
						</div><!-- endof review-photo -->
					</div>
				<% end %><!-- endOf cs_reviewあり -->
			<% end %><!-- endOf cl 過去の場合 -->
			<!-- cs 過去の場合 & cs_reviewあり -->
			<% if @event.customer_id == @cs.id && @event.start_time <= Time.now() && @ev_rev.cs_review.present? %>
				<div>
					<h2>
						<%= render :partial => 'svgs/review' %>&nbsp;<%= t(".Review_by_you") %>
					</h2>
					<!-- レビュー星 -->
					<div id='rating-stars-show' class="left-align"></div>
					<script>
						$.fn.raty.defaults.path = "/images";
						$('#rating-stars-show').raty({
							readOnly: true,
							score: <%= @ev_rev.stars %>
						});
					</script>
					<!-- レビューコメント -->
					<div class="ev-square grey-back">
						<pre><%= @ev_rev.cs_review %></pre>
							<!-- cl_commentあり -->
							<% if @ev_rev.cl_comment.present? %>
								<hr>
								<%= t(".Reply_from_cl", name: @cl_here.user.name) %>
								<pre><%= @ev_rev.cl_comment %></pre>
							<% end %><!-- endOf cl_commentあり -->
					</div>
					<div class="pf col-4 col-md-2 maring-b-20">
						<a href="<%= @ev_rev.cs_image_1.url if @ev_rev.cs_image_1? %>" data-lightbox="image-1">
							<div class="pf-img" style="background-image: url(<%= @ev_rev.cs_image_1.url %>);"></div>
						</a>
					</div>
					<!-- レビュー写真 -->
					<%= render :partial => 'events/event_review_photo', :locals=>{ev_rev: @ev_rev} %>
				</div>
				<!-- cl_reviewあり -->
				<% if @ev_rev.cl_review.present? %>
					<div>
						<h2>
							<%= render :partial => 'svgs/review' %>&nbsp;<%= t(".Review_about_you") %>
						</h2>
						<div class="ev-square grey-back">
							<pre><%= @ev_rev.cl_review %></pre>
						</div>
					</div>
				<% end %><!-- endOf cs_reviewあり -->
			<% end %><!-- endOf cl 過去の場合 -->
			<!-- endOf レビュー -->


		</div><!-- endOf col-->
	</div><!-- endOf row -->
</div><!-- endOf container -->


<!-- 写真アップロード -->
<div class="ev-photos">
	<!-- cl 過去の場合 -->
	<% if @event.client_id == @cl.id && @event.start_time <= Time.now() %>
		<!-- 撮影確定 or 納品済み or 受け取り済み状態 -->
		<% if @event.event_states.last.state.in?(['cl_accepted','cs_accepted','cl_delivered', 'cs_recieved']) %>
			<!-- 写真アップロード -->
			<%= render :partial => 'events/event_photo_upload', :locals=>{event: @event, locale: @locale} %>
			<!-- 納品完了を伝えるボタン -->
			<% if @ev_photo_nums > 0 %>
				<div class="ev-states-btns">
					<% if @event.event_states.last.state.in?(['cl_accepted','cs_accepted']) %>
						<%= render :partial => 'events/cl_deliver', :locals=>{event: @event} %>
					<% end %>
				</div>
			<% else %>
				<div class="ev-states-btns">
					<button class="prim-btn" onclick="koshin()"><%= t(".check_uploaded_photos") %></button>
				</div>
			<% end %>
			<!-- アップロード済み写真確認 -->
			<%= render :partial => 'events/event_photo', :locals=>{event: @event, ev_photos: @ev_photos} %>
		<% end %><!-- endOf 撮影確定 or 納品済み or 受け取り済み状態 -->
	<% end %><!-- endOf cl 過去の場合 -->


	<!-- cs 過去の場合 -->
	<% if @event.customer_id == @cs.id && @event.start_time <= Time.now() %>
		<!-- 納品済み or 受け取り済み状態 -->
		<% if @event.event_states.last.state.in?(['cl_delivered', 'cs_recieved']) %>
			<!-- アップロード済み写真確認 -->
			<%= render :partial => 'events/event_photo_cs', :locals=>{event: @event, ev_photos_6: @ev_photos_6, ev_photo_nums: @ev_photo_nums} %>
		<% end %><!-- endOf 納品済み or 受け取り済み状態 -->
	<% end %><!-- endOf cs 過去の場合 -->
</div>


<% if @cl_here == @cl %>
	<% assign_meta_tags title: t(".meta_title", name: @cs_here.user.name),
	                    description: t(".meta_keywords"),
	                    keywords: t(".meta_description") %>
	<% set_meta_tags noindex: true %>
<% else %>
	<% assign_meta_tags title: t(".meta_title", name: @cl_here.user.name),
	                    description: t(".meta_keywords"),
	                    keywords: t(".meta_description") %>
	<% set_meta_tags noindex: true %>
<% end %>

<script>
function koshin(){
  location.reload();
}
</script>