<div id="home-top" >
	<!-- ###### 検索フォーム ###### -->
	<div>
		<h1><%= t(".find_your_photographer") %></h1>
		<div class="home-cl-search clearfix">
			<%= form_tag(clients_path, method: :get) do %>
				<%= render :partial => 'render/home_search' %>
				<div class="search-btn">
					<%= submit_tag t(".search_btn"), class: "home-cl-search-btn prim-btn" %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<!-- <div id="home-samples">
</div> -->


<!--   <%= text_field_tag :search %> -->


<!-- turbolinksでもselectbox読ませる設定 -->
<script>
$( document ).ready(function() {
  $('.selectpicker').selectpicker();
});
</script>