<div id="home-top" >
	<!-- ###### 検索フォーム ###### -->
	<div>
		<div class="home-top-title">
			<h1 class="home-top-title-1">find your</h1>
			<h1 class="home-top-title-2">photographer</h1>
		</div>
		<div class="home-cl-search clearfix">
			<%= form_tag(clients_path, method: :get) do %>
				<%= render :partial => 'render/home_search' %>
				<div class="search-btn">
					<%= submit_tag t(".search_btn"), class: "home-cl-search-btn prim-btn" %>
				</div>
			<% end %>
		</div>
	</div>
</div><!-- endof #home-top -->

<section class="cate-common">
	<h2><%= t(".categories") %></h2>
	<%= render :partial => 'categories/category_list' %>
</section>





<!-- turbolinksでもselectbox読ませる設定 -->
<script>
$( document ).ready(function() {
  $('.selectpicker').selectpicker();
});
</script>