<div class="container-fluid mypage-container">
  <div class="row mypage-wrapper">
    <div class="col-12 col-md-3 offset-md-1 mypage-menu">
      <%= render :partial => 'users/mypage_menu' %>
    </div>

    <div class="col-12 col-md-8 mypage-content">
      <h1><%= t(".portfolio")%></h1>
      <hr>
      <p><%= @portfolio_nums %><%= t(".photos_are_uploaded")%></p>
      <% if @num < 20 %>
        <!-- アップロード箇所 -->
        <div class="file-loading">
            <input id="client_portfolio" name="client_portfolio" type="file" multiple>
        </div>

        <script>
        <% if @locale == "ja" %>
          $("#client_portfolio").fileinput({
              language: "ja",
              uploadUrl: "/clients/<%= @cl.id %>/client_portfolios",
              allowedFileExtensions: ["jpg", "png", "jpeg"]
          });
        <% elsif @locale == "zh" %>
          $("#client_portfolio").fileinput({
              language: "zh",
              uploadUrl: "/clients/<%= @cl.id %>/client_portfolios",
              allowedFileExtensions: ["jpg", "png", "jpeg"]
          });
        <% elsif @locale == "tw" %>
          $("#client_portfolio").fileinput({
              language: "tw",
              uploadUrl: "/clients/<%= @cl.id %>/client_portfolios",
              allowedFileExtensions: ["jpg", "png", "jpeg"]
          });
        <% else %>
          $("#client_portfolio").fileinput({
              language: "en",
              uploadUrl: "/clients/<%= @cl.id %>/client_portfolios",
              allowedFileExtensions: ["jpg", "png", "jpeg"]
          });
        <% end %>
        </script>
        <br>
      <% end %>

      <!-- 投稿済みポートフォリオ -->
      <%= form_tag( r_destroy_client_client_portfolios_path, method: :delete) do %>
        <div class="container-fluid cl-show cl-show-3">
          <div class="container">
            <div class="row">
              <% @portfolios.each do |portfolio| %>
                <div class="pf col-12 col-sm-6 col-lg-4 maring-b-20">
                  <a href="<%= portfolio.image.url if portfolio.image? %>" data-lightbox="image-1" data-title="<%= @cl.user.name %>">
                    <div class="pf-img" style="background-image: url(<%= portfolio.image.thumb.url %>);"></div>
                  </a>
                  <label class="checkbox float-right">
                    <input type="checkbox" name="delete_portfolio[]" value=<%= portfolio.id %>>
                    <div class="btn btn-sık">
                      <span><%= t(".delete_check")%></span>
                    </div>
                  </label>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="actions">
          <%= submit_tag(t(".delete_btn")) %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<% assign_meta_tags title: t(".meta_title"),
                    description: t(".meta_keywords"),
                    keywords: t(".meta_description") %>
<% set_meta_tags noindex: true %>