<div class="container-fluid about about-3">
	<h1><%= t(".how_to_use") %></h1>
	<br><br>
	<p1><%= t(".1_Search") %></p1>
	<div class="row about-inner">
		<div class="col-12 col-md-4 offset-md-2">
			<img alt="search" src="/images/about-top.png" class="img-phone">
			<img alt="search" src="/images/about-search.png" class="img-phone">
		</div>
		<div class="col-12 col-md-4 center">
			<p2>
				<%= simple_format(t(".1_disc")) %><br>
				<%= link_to t(".back_to_top"), home_path, class: "about-btn prim-btn" %>
			</p2>
		</div>
	</div>


	<p1><%= t(".2_Reserve") %></p1>
	<div class="row about-inner">
		<div class="col-12 col-md-4 offset-md-2">
			<img alt="reserve" src="/images/about-reserve.png" class="img-phone">
			<img alt="message" src="/images/about-message.png" class="img-phone">
		</div>
		<div class="col-12 col-md-4 center">
			<p2>
				<%= simple_format(t(".2_disc")) %><br>
				<% unless user_signed_in? %>
					<%= link_to t(".sign-up"), new_user_registration_path, class: "about-btn prim-btn" %>
				<% end %>
			</p2>
		</div>
	</div>


	<p1><%= t(".3_Photographing") %></p1>
	<div class="row about-inner">
		<div class="col-12 col-md-4 offset-md-2">
			<img alt="camera" src="/images/about-camera.png" class="img-phone">
		</div>
		<div class="col-12 col-md-4 center">
			<p2>
				<%= simple_format(t(".3_disc")) %><br>
			</p2>
		</div>
	</div>

	<p1><%= t(".4_Recieve_photos") %></p1>
	<div class="row about-inner">
		<div class="col-12 col-md-4 offset-md-2">
			<img alt="deliver" src="/images/about-deliver.png" class="img-phone">
			<img alt="download" src="/images/about-dl.png" class="img-phone">
		</div>
		<div class="col-12 col-md-4 center">
			<p2>
				<%= simple_format(t(".4_disc")) %><br>
			</p2>
		</div>
	</div>

	<p1><%= t(".5_Review") %></p1>
	<div class="row about-inner">
		<div class="col-12 col-md-4 offset-md-2">
			<img alt="write-review" src="/images/about-review1.png" class="img-phone">
			<img alt="check-review" src="/images/about-review2.png" class="img-phone">
		</div>
		<div class="col-12 col-md-4 center">
			<p2>
				<%= simple_format(t(".5_disc")) %><br>
			</p2>
		</div>
	</div>
</div>