<% assign_meta_tags title: t(".meta_title"),
                    description: t(".meta_keywords"),
                    keywords: t(".meta_description") %>

<div class="about-wrapper">
	<div class="container-fluid about about-1">
		<p1><%= simple_format(t(".about_1_1")) %></p1>
		<br>
		<p1><%= simple_format(t(".about_1_2")) %></p1>
	</div>

	<div class="container-fluid about about-2">
		<p2><%= simple_format(t(".about_2_1")) %></p2>
		<br>
		<br>
		<br>
		<br>
		<p1><%= simple_format(t(".about_2_2")) %></p1>
	</div>
</div>
<%= render :partial => 'abouts/how_to_use' %>