<div class="container-fluid about about-3">
	<h1><%= t(".Register_as_a_cameraman") %></h1>
	<br><br>

	<p1><%= t(".1_Sign_up") %></p1>
	<div class="row about-inner">
		<div class="col-12 col-md-4 offset-md-2">
			<img alt="signup" src="/images/about-signup.png" class="img-phone">
		</div>
		<div class="col-12 col-md-4 center">
			<p2>
				<%= t(".Please_sign_up_first") %><br>
				<br>
				<% unless user_signed_in? %>
					<%= link_to t(".sign-up"), new_user_registration_path, class: "about-btn prim-btn" %>
				<% end %>
			</p2>
		</div>
	</div>


	<p1><%= t(".2_Register_as_a_cameraman") %></p1>
	<div class="row about-inner">
		<div class="col-12 col-md-4 offset-md-2">
			<img alt="register" src="/images/about-register-cl.png" class="img-phone">
		</div>
		<div class="col-12 col-md-4 center">
			<p2>
				<%= simple_format(t(".2_disc")) %><br>
				<!-- ログイン時かつ、未登録時、フォームへ -->
				<% if user_signed_in? && @cl.consent == false %>
					<%= link_to t(".register_as_cameraman"), first_new_user_client_client_contacts_path(@user, @cl), class: "about-btn prim-btn" %>
				<% end %>
			</p2>
		</div>
	</div>


	<p1><%= t(".3_Edit_your_profile") %></p1>
	<div class="row about-inner">
		<div class="col-12 col-md-4 offset-md-2">
			<img alt="profile" src="/images/about-cl-profile.png" class="img-phone">
		</div>
		<div class="col-12 col-md-4 center">
			<p2>
				<%= simple_format(t(".3_disc")) %><br>
				<!-- ログイン時かつ、登録時、フォームへ -->
				<% if user_signed_in? && @cl.consent == true %>
					<%= link_to t(".cl_settings"), edit_user_client_path(@user, @cl) , class: "about-btn prim-btn" %>
				<% end %>
			</p2>
		</div>
	</div>

	<p1><%= t(".4_Upload_your_portfolios") %></p1>
	<div class="row about-inner">
		<div class="col-12 col-md-4 offset-md-2">
			<img alt="upload" src="/images/about-cl-upload.png" class="img-phone">
		</div>
		<div class="col-12 col-md-4 center">
			<p2>
				<%= simple_format(t(".4_disc")) %><br>
				<!-- ログイン時かつ、登録時、フォームへ -->
				<% if user_signed_in? && @cl.consent == true %>
					<%= link_to t(".upload_cl_portpolios"), new_client_client_portfolio_path(@cl), class: "about-btn prim-btn" %>
				<% end %>
			</p2>
		</div>
	</div>

	<p1><%= t(".5_Register_your_available_days") %></p1>
	<div class="row about-inner">
		<div class="col-12 col-md-4 offset-md-2">
			<img alt="upload" src="/images/about-cl-upload.png" class="img-phone">
		</div>
		<div class="col-12 col-md-4 center">
			<p2>
				<%= simple_format(t(".5_disc")) %><br>
				<!-- ログイン時かつ、登録時、フォームへ -->
				<% if user_signed_in? && @cl.consent == true %>
					<%= link_to t(".register_available_days"), user_client_client_schedules_path(@user, @cl, day: Date.today ), class: "about-btn prim-btn" %>
				<% end %>
			</p2>
		</div>
	</div>

</div>