<div id="cate-photo" class="cate-photo-pet">
	<h1>Pet</h1>
	<h2><%= t(".pet") %></h2>
</div>
<div class="cate-main container">
	<div class="cate-main-photos row">
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/pet-sample1.png" data-lightbox="image-1" data-title="pet-photos">
				<div class="sized-square-photo" alt="pet-photo-sample" style='background-image: url("/images/pet-sample1.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/pet-sample2.png" data-lightbox="image-1" data-title="pet-photos">
				<div class="sized-square-photo" alt="pet-photo-sample" style='background-image: url("/images/pet-sample2.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/pet-sample3.png" data-lightbox="image-1" data-title="pet-photos">
				<div class="sized-square-photo" alt="pet-photo-sample" style='background-image: url("/images/pet-sample3.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/pet-sample4.png" data-lightbox="image-1" data-title="pet-photos">
				<div class="sized-square-photo" alt="pet-photo-sample" style='background-image: url("/images/pet-sample4.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/pet-sample5.png" data-lightbox="image-1" data-title="pet-photos">
				<div class="sized-square-photo" alt="pet-photo-sample" style='background-image: url("/images/pet-sample5.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/pet-sample6.png" data-lightbox="image-1" data-title="pet-photos">
				<div class="sized-square-photo" alt="pet-photo-sample" style='background-image: url("/images/pet-sample6.png");'></div>
			</a>
		</div>
	</div>
</div>
<hr>


<section class="cate-tips cate-common">
	<h1><%= t(".tips") %></h1>
	<div class="card cate-tips-card">
		<div class="container">
			<div class="row">
				<div class="cate-tips-card-left col-4 inline-center">
					<img alt="pet-tips1" src="/images/pet-tips1.png" class="">
				</div>
				<div class="cate-tips-card-right col-8 inline-center">
					<%= simple_format(t(".tips_desc_1")) %>
				</div>
			</div>
		</div>
	</div>
	<div class="card cate-tips-card">
		<div class="container">
			<div class="row">
				<div class="cate-tips-card-left col-4 inline-center">
					<img alt="pet-tips2" src="/images/pet-tips2.png" class="">
				</div>
				<div class="cate-tips-card-right col-8 inline-center">
					<%= simple_format(t(".tips_desc_2")) %>
				</div>
			</div>
		</div>
	</div>
	<div class="card cate-tips-card">
		<div class="container">
			<div class="row">
				<div class="cate-tips-card-left col-4 inline-center">
					<img alt="pet-tips3" src="/images/pet-tips3.png" class="">
				</div>
				<div class="cate-tips-card-right col-8 inline-center">
					<%= simple_format(t(".tips_desc_3")) %>
				</div>
			</div>
		</div>
	</div>
</section>
<hr>


<% if @cls.count > 0 %>
	<section class="cate-photographer-list cate-common">
		<h1><%= t(".This_category_has_cls", num: @cls.count) %></h1>
		<%= render :partial => 'categories/category_cl_list', :locals=>{cls_kanto: @cls_kanto, cls_kansai: @cls_kansai} %>
	</section>
	<hr>
<% end %>

<section class="cate-common">
	<h1><%= t(".other_categories") %></h1>
	<%= render :partial => 'categories/category_list' %>
</section>