<div id="cate-photo" class="cate-photo-profile">
	<h1>Profile</h1>
	<h2><%= t(".profile") %></h2>
</div>
<div class="cate-main container">
	<div class="cate-main-photos row">
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/profile-sample1.png" data-lightbox="image-1" data-title="profile-photos">
				<div class="sized-square-photo" alt="profile-photo-sample" style='background-image: url("/images/profile-sample1.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/profile-sample2.png" data-lightbox="image-1" data-title="profile-photos">
				<div class="sized-square-photo" alt="profile-photo-sample" style='background-image: url("/images/profile-sample2.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/profile-sample3.png" data-lightbox="image-1" data-title="profile-photos">
				<div class="sized-square-photo" alt="profile-photo-sample" style='background-image: url("/images/profile-sample3.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/profile-sample4.png" data-lightbox="image-1" data-title="profile-photos">
				<div class="sized-square-photo" alt="profile-photo-sample" style='background-image: url("/images/profile-sample4.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/profile-sample5.png" data-lightbox="image-1" data-title="profile-photos">
				<div class="sized-square-photo" alt="profile-photo-sample" style='background-image: url("/images/profile-sample5.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/profile-sample6.png" data-lightbox="image-1" data-title="profile-photos">
				<div class="sized-square-photo" alt="profile-photo-sample" style='background-image: url("/images/profile-sample6.png");'></div>
			</a>
		</div>
	</div>
</div>
<hr>


<section class="cate-tips cate-common">
	<h1><%= t(".tips") %></h1>
	<div class="card cate-tips-card">
		<div class="container">
			<div class="row">
				<div class="cate-tips-card-left col-4 inline-center">
					<img alt="profile-tips1" src="/images/profile-tips1.png" class="">
				</div>
				<div class="cate-tips-card-right col-8 inline-center">
					<%= simple_format(t(".tips_desc_1")) %>
				</div>
			</div>
		</div>
	</div>
	<div class="card cate-tips-card">
		<div class="container">
			<div class="row">
				<div class="cate-tips-card-left col-4 inline-center">
					<img alt="profile-tips2" src="/images/profile-tips2.png" class="">
				</div>
				<div class="cate-tips-card-right col-8 inline-center">
					<%= simple_format(t(".tips_desc_2")) %>
				</div>
			</div>
		</div>
	</div>
	<div class="card cate-tips-card">
		<div class="container">
			<div class="row">
				<div class="cate-tips-card-left col-4 inline-center">
					<img alt="profile-tips3" src="/images/profile-tips3.png" class="">
				</div>
				<div class="cate-tips-card-right col-8 inline-center">
					<%= simple_format(t(".tips_desc_3")) %>
				</div>
			</div>
		</div>
	</div>
</section>
<hr>

<% if @cls.count > 0 %>
	<section class="cate-photographer-list cate-common">
		<h1><%= t(".This_category_has_cls", num: @cls.count) %></h1>
		<%= render :partial => 'categories/category_cl_list', :locals=>{cls_kanto: @cls_kanto, cls_kansai: @cls_kansai} %>
	</section>
	<hr>
<% end %>

<section class="cate-common">
	<h1><%= t(".other_categories") %></h1>
	<%= render :partial => 'categories/category_list' %>
</section>