<div id="cate-photo" class="cate-photo-wedding">
	<h1><%= t(".wedding") %></h1>
</div>
<div class="cate-main container">
	<div class="cate-main-disc">
		<p>
			<%= simple_format(t(".cate-main-disc")) %>
		</p>
	</div>
	<div class="cate-main-photos row">
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/wedding-sample1.png" data-lightbox="image-1" data-title="wedding-photos">
				<div class="sized-square-photo" alt="wedding-photo-sample" style='background-image: url("/images/wedding-sample1.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/wedding-sample2.png" data-lightbox="image-1" data-title="wedding-photos">
				<div class="sized-square-photo" alt="wedding-photo-sample" style='background-image: url("/images/wedding-sample2.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/wedding-sample3.png" data-lightbox="image-1" data-title="wedding-photos">
				<div class="sized-square-photo" alt="wedding-photo-sample" style='background-image: url("/images/wedding-sample3.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/wedding-sample4.png" data-lightbox="image-1" data-title="wedding-photos">
				<div class="sized-square-photo" alt="wedding-photo-sample" style='background-image: url("/images/wedding-sample4.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/wedding-sample5.png" data-lightbox="image-1" data-title="wedding-photos">
				<div class="sized-square-photo" alt="wedding-photo-sample" style='background-image: url("/images/wedding-sample5.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/wedding-sample6.png" data-lightbox="image-1" data-title="wedding-photos">
				<div class="sized-square-photo" alt="wedding-photo-sample" style='background-image: url("/images/wedding-sample6.png");'></div>
			</a>
		</div>
	</div>
</div>
<hr>


<section class="cate-location cate-common container">
	<h1><%= t(".location") %></h1>
	<div class="cate-location-photos row">
		<div class="cate-location-photo col-4 col-lg-2" data-toggle="collapse" data-target="#wedding-location-city" aria-expanded="false" aria-controls="wedding-location-city">
			<div class="sized-square-photo" alt="wedding-photo-city" style='background-image: url("/images/wedding-location-city.png");'></div>
			<p><%= t(".city") %></p>
		</div>
		<div class="cate-location-photo col-4 col-lg-2" data-toggle="collapse" data-target="#wedding-location-in-nature" aria-expanded="false" aria-controls="wedding-location-in-nature">
			<div class="sized-square-photo" alt="wedding-photo-in-nature" style='background-image: url("/images/wedding-location-in-nature.png");'></div>
			<p><%= t(".in-nature") %></p>
		</div>
		<div class="cate-location-photo col-4 col-lg-2" data-toggle="collapse" data-target="#wedding-location-daily-life" aria-expanded="false" aria-controls="wedding-location-daily-life">
			<div class="sized-square-photo" alt="wedding-photo-daily-life" style='background-image: url("/images/wedding-location-daily-life.png");'></div>
			<p><%= t(".daily-life") %></p>
		</div>
		<div class="cate-location-photo col-4 col-lg-2" data-toggle="collapse" data-target="#wedding-location-places-of-memories" aria-expanded="false" aria-controls="wedding-location-places-of-memories">
			<div class="sized-square-photo" alt="wedding-photo-places-of-memories" style='background-image: url("/images/wedding-location-places-of-memories.png");'></div>
			<p><%= t(".places-of-memories") %></p>
		</div>
		<div class="cate-location-photo col-4 col-lg-2" data-toggle="collapse" data-target="#wedding-location-church" aria-expanded="false" aria-controls="wedding-location-church">
			<div class="sized-square-photo" alt="wedding-photo-church" style='background-image: url("/images/wedding-location-church.png");'></div>
			<p><%= t(".church") %></p>
		</div>
		<div class="cate-location-photo col-4 col-lg-2" data-toggle="collapse" data-target="#wedding-location-secret-places" aria-expanded="false" aria-controls="wedding-location-secret-places">
			<div class="sized-square-photo" alt="wedding-photo-secret-places" style='background-image: url("/images/wedding-location-secret-places.png");'></div>
			<p><%= t(".secret-places") %></p>
		</div>
	</div>
	<div id="wedding-location-wrapper">
		<div class="center-align">
			<div class="collapse show" id="wedding-location-secret-places" data-parent="#wedding-location-wrapper">
				<div class="balloon-top">
					<h2>秘密の場所</h2>
					<p>
						知ってる？カメラマンが自分しか知らないおすすめロケーション地があるって！他の人と被らないロケーションを探そう！お気に入りのカメラマンに聞いてみたら？予約確定する前教えてもらうカメラマンもいるかもよ。
					</p>
				</div>
			</div>
		</div>
		<div class="center-align">
			<div class="collapse" id="wedding-location-in-nature" data-parent="#wedding-location-wrapper">
				<div class="balloon-top">
					<h2>自然</h2>
					<p>
						ああああああああああ
					</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="cate-tips cate-common">
	<h1><%= t(".tips") %></h1>
	<div class="card cate-tips-card">
		<div class="container">
			<div class="row">
				<div class="cate-tips-card-left col-4 inline-center">
					<img alt="wedding-tips1" src="/images/wedding-tips1.png" class="">
				</div>
				<div class="cate-tips-card-right col-8 inline-center">
					<%= simple_format(t(".tips_desc_1")) %>
				</div>
			</div>
		</div>
	</div>
	<div class="card cate-tips-card">
		<div class="container">
			<div class="row">
				<div class="cate-tips-card-left col-4 inline-center">
					<img alt="wedding-tips1" src="/images/wedding-tips2.png" class="">
				</div>
				<div class="cate-tips-card-right col-8 inline-center">
					<%= simple_format(t(".tips_desc_2")) %>
				</div>
			</div>
		</div>
	</div>
	<div class="card cate-tips-card">
		<div class="container">
			<div class="row">
				<div class="cate-tips-card-left col-4 inline-center">
					<img alt="wedding-tips3" src="/images/wedding-tips3.png" class="">
				</div>
				<div class="cate-tips-card-right col-8 inline-center">
					<%= simple_format(t(".tips_desc_3")) %>
				</div>
			</div>
		</div>
	</div>
</section>
<hr>

<section class="cate-photographer-list cate-common">
	<h1>
		このジャンルのカメラマンが<br>
		10人見つかりました
	</h1>

</section>
<hr>

<section class="cate-common">
	<h1><%= t(".other_categories") %></h1>
	<%= render :partial => 'categories/category_list' %>
</section>