<div id="cate-photo" class="cate-photo-wedding">
	<h1>WEDDING</h1>
</div>
<div class="cate-main container">
	<div class="cate-main-disc">
		<p>
			<%= simple_format(t(".cate-main-disc")) %>
		</p>
	</div>
	<div class="cate-main-photos row">
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/category-wedding.png" data-lightbox="image-1" data-title="wedding-photos">
				<div class="sized-square-photo" alt="wedding-photo-sample" style='background-image: url("/images/category-wedding.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/category-wedding.png" data-lightbox="image-1" data-title="wedding-photos">
				<div class="sized-square-photo" alt="wedding-photo-sample" style='background-image: url("/images/category-wedding.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/category-wedding.png" data-lightbox="image-1" data-title="wedding-photos">
				<div class="sized-square-photo" alt="wedding-photo-sample" style='background-image: url("/images/category-wedding.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/category-wedding.png" data-lightbox="image-1" data-title="wedding-photos">
				<div class="sized-square-photo" alt="wedding-photo-sample" style='background-image: url("/images/category-wedding.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/category-wedding.png" data-lightbox="image-1" data-title="wedding-photos">
				<div class="sized-square-photo" alt="wedding-photo-sample" style='background-image: url("/images/category-wedding.png");'></div>
			</a>
		</div>
		<div class="cate-main-photo col-4 col-lg-2">
			<a href="/images/category-wedding.png" data-lightbox="image-1" data-title="wedding-photos">
				<div class="sized-square-photo" alt="wedding-photo-sample" style='background-image: url("/images/category-wedding.png");'></div>
			</a>
		</div>
	</div>
</div>
<hr>


<section class="cate-location cate-common container">
	<h1><%= t(".location") %></h1>
	<div class="cate-location-photos row">
		<div class="cate-location-photo col-4 col-lg-2" data-toggle="collapse" data-target="#wedding-location-city" aria-expanded="false" aria-controls="wedding-location-city">
			<div class="sized-square-photo" alt="wedding-photo-city" style='background-image: url("/images/category-wedding.png");'></div>
			<p><%= t(".city") %></p>
		</div>
		<div class="cate-location-photo col-4 col-lg-2">
			<div class="sized-square-photo" alt="wedding-photo-sample" style='background-image: url("/images/category-wedding.png");'></div>
			<p><%= t(".in_nature") %></p>
		</div>
		<div class="cate-location-photo col-4 col-lg-2">
			<div class="sized-square-photo" alt="wedding-photo-sample" style='background-image: url("/images/category-wedding.png");'></div>
			<p><%= t(".dairy_life") %></p>
		</div>
		<div class="cate-location-photo col-4 col-lg-2">
			<div class="sized-square-photo" alt="wedding-photo-sample" style='background-image: url("/images/category-wedding.png");'></div>
			<p><%= t(".places_of_memories") %></p>
		</div>
		<div class="cate-location-photo col-4 col-lg-2">
			<div class="sized-square-photo" alt="wedding-photo-sample" style='background-image: url("/images/category-wedding.png");'></div>
			<p><%= t(".secret_places") %></p>
		</div>
		<div class="cate-location-photo col-4 col-lg-2">
			<div class="sized-square-photo" alt="wedding-photo-sample" style='background-image: url("/images/category-wedding.png");'></div>
			<p><%= t(".city") %></p>
		</div>
	</div>
	<div class="center-align">
		<div class="collapse" id="wedding-location-city">
			<div class="balloon-top">
				<h2>秘密の場所</h2>
				<p>
					知ってる？カメラマンが自分しか知らないおすすめロケーション地があるって！他の人と被らないロケーションを探そう！お気に入りのカメラマンに聞いてみたら？予約確定する前教えてもらうカメラマンもいるかもよ。
				</p>
			</div>
		</div>
	</div>
</section>


<section class="cate-tips cate-common">
	<h1>チェックポイント</h1>
	<div class="card cate-tips-card">
		<div class="container">
			<div class="row">
				<div class="cate-tips-card-left col-4">
					<img alt="wedding-dress" src="/images/wedding-dress.png" class="">
				</div>
				<div class="cate-tips-card-right col-8 inline-center">
					服装の用意はできました？ウェディングドレスはもちろん、日常的な「白いワンピース＋ベール」の組み合わせもおすすめしますよ！ウェディングドレスも提供しているカメラマンもいるので、カメラマン個人ページのオプションメニューでご確認くだい。
				</div>
			</div>
		</div>
	</div>
	<div class="card cate-tips-card">
		<div class="container">
			<div class="row">
				<div class="cate-tips-card-left col-4">
					<img alt="wedding-bride" src="/images/wedding-bride.png" class="">
				</div>
				<div class="cate-tips-card-right col-8 inline-center">
					ウェディング写真は、一般的な写真より、もうちょっと濃い目の化粧は必要の場合があります。自分の化粧技術に不安を感じる方へ、一部のカメラマンはメイクサービスを提供しています。カメラマン個人ページのオプションメニューでご確認くだい。
				</div>
			</div>
		</div>
	</div>
	<div class="card cate-tips-card">
		<div class="container">
			<div class="row">
				<div class="cate-tips-card-left col-4">
					<img alt="wedding-bouquet" src="/images/wedding-bouquet.png" class="">
				</div>
				<div class="cate-tips-card-right col-8 inline-center">
					写真のバリエーションにも、撮影の過程をもっと楽しく過ごすにも、小物の用途はたくさんあります。二人の昔のアルバム、ペアのアクセサリー、二人とも好きなおもちゃなど。使い道を楽しみ！ミニブーケ、小道具など、一部のカメラマンは提供しています。カメラマン個人ページのオプションメニューでご確認くだい。
				</div>
			</div>
		</div>
	</div>
</section>
<hr>

<section class="cate-photographer-list cate-common">
	<h1>
		このジャンルのカメラマンが<br>
		10人見つかりました
	</h1>

</section>
<hr>

<section class="cate-cate-list cate-common container">
	<h1>他のカテゴリーはこちら</h1>
	<div class="cate-cate-photos row">
		<div class="cate-cate-photo col-4 col-lg-2">
			<%= link_to traveling_categories_path, class: "" do %>
				<div class="sized-square-photo" alt="category-traveling" style='background-image: url("/images/category-traveling_sm.png");'>
					<p><%= t(".traveling") %></p>
				</div>
			<% end %>
		</div>
		<div class="cate-cate-photo col-4 col-lg-2">
			<%= link_to profile_categories_path, class: "" do %>
				<div class="sized-square-photo" alt="category-profile" style='background-image: url("/images/category-profile_sm.png");'>
					<p><%= t(".profile") %></p>
				</div>
			<% end %>
		</div>
		<div class="cate-cate-photo col-4 col-lg-2">
			<%= link_to wedding_categories_path, class: "" do %>
				<div class="sized-square-photo" alt="category-wedding" style='background-image: url("/images/category-wedding_sm.png");'>
					<p><%= t(".wedding") %></p>
				</div>
			<% end %>
		</div>
		<div class="cate-cate-photo col-4 col-lg-2">
			<%= link_to dairy_life_categories_path, class: "" do %>
				<div class="sized-square-photo" alt="category-dairy_life" style='background-image: url("/images/category-dairy_life_sm.png");'>
					<p><%= t(".dairy_life") %></p>
				</div>
			<% end %>
		</div>
		<div class="cate-cate-photo col-4 col-lg-2">
			<%= link_to id_photo_categories_path, class: "" do %>
				<div class="sized-square-photo" alt="category-id_photo" style='background-image: url("/images/category-id_photo_sm.png");'>
					<p><%= t(".id_photo") %></p>
				</div>
			<% end %>
		</div>
		<div class="cate-cate-photo col-4 col-lg-2">
			<%= link_to seven_five_three_categories_path, class: "" do %>
				<div class="sized-square-photo" alt="category-seven_five_three" style='background-image: url("/images/category-seven_five_three_sm.png");'>
					<p><%= t(".seven_five_three") %></p>
				</div>
			<% end %>
		</div>
		<div class="cate-cate-photo col-4 col-lg-2">
			<%= link_to coming_of_age_categories_path, class: "" do %>
				<div class="sized-square-photo" alt="category-coming_of_age" style='background-image: url("/images/category-coming_of_age_sm.png");'>
					<p><%= t(".coming_of_age") %></p>
				</div>
			<% end %>
		</div>
		<div class="cate-cate-photo col-4 col-lg-2">
			<%= link_to maternity_categories_path, class: "" do %>
				<div class="sized-square-photo" alt="category-maternity" style='background-image: url("/images/category-maternity_sm.png");'>
					<p><%= t(".maternity") %></p>
				</div>
			<% end %>
		</div>
		<div class="cate-cate-photo col-4 col-lg-2">
			<%= link_to new_born_categories_path, class: "" do %>
				<div class="sized-square-photo" alt="category-new_born" style='background-image: url("/images/category-new_born_sm.png");'>
					<p><%= t(".new_born") %></p>
				</div>
			<% end %>
		</div>
		<div class="cate-cate-photo col-4 col-lg-2">
			<%= link_to commodities_categories_path, class: "" do %>
				<div class="sized-square-photo" alt="category-commodities" style='background-image: url("/images/category-commodities_sm.png");'>
					<p><%= t(".commodities") %></p>
				</div>
			<% end %>
		</div>
		<div class="cate-cate-photo col-4 col-lg-2">
			<%= link_to event_categories_path, class: "" do %>
				<div class="sized-square-photo" alt="category-event" style='background-image: url("/images/category-event_sm.png");'>
					<p><%= t(".event") %></p>
				</div>
			<% end %>
		</div>
		<div class="cate-cate-photo col-4 col-lg-2">
			<%= link_to pet_categories_path, class: "" do %>
				<div class="sized-square-photo" alt="category-pet" style='background-image: url("/images/category-pet_sm.png");'>
					<p><%= t(".pet") %></p>
				</div>
			<% end %>
		</div>
	</div>
</section>