<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- For SEO -->
		<meta name="keywords" content="カメラマン, マッチング, 撮影, 日本, 撮影, 写真">
		<meta name="description" content="">
		<title>Camera-to-Culture</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag		'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
<!-- ######## グロナビ ########## -->
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <%= link_to "Camera-to-Culture", home_path, class: "navbar-brand" %>
		    </div>

<!-- nav-left -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<!-- 検索 -->
		      <form class="navbar-form navbar-left">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search">
		        </div>
		        <button type="submit" class="btn btn-default">Search</button>
		      </form>

		      <ul class="nav navbar-nav navbar-right">
<!-- 言語選択 -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
								<%= t(".language") %><span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<% if params[:locale] != 'ja' %>
									<% if params[:locale].nil? == true %>
									<% else %>
										<li><%= link_to("日本語", url_for(locale: nil, only_path: false), class: "dropdown-item") %></li>
									<% end %>
								<% end %>
								<% if params[:locale] != 'en'%>
									<li><%= link_to("English", url_for(locale: 'en', only_path: false), class: "dropdown-item") %></li>
								<% end %>

								<% if params[:locale] != 'zh'%>
									<li><%= link_to("简体中文", url_for(locale: 'zh', only_path: false), class: "dropdown-item") %></li>
								<% end %>

								<% if params[:locale] != 'tw'%>
									<li><%= link_to("繁體中文", url_for(locale: 'tw', only_path: false), class: "dropdown-item") %></li>
								<% end %>
							</ul>
						</li>
<!-- ログイン時 -->
						<% if user_signed_in? %>
					    <li class="nav-item">
					      <%= link_to user_path(current_user) do %>
									<%= t(".mypage") %>
								<% end %>
					    </li>
					    <li class="nav-item">
					      <%= link_to t(".sign-out"), destroy_user_session_path, method: :delete, class: 'log-out' %>
					    </li>
<!-- 未ログイン時 -->
				    <% else %>
							<li class="nav-item">
								<%= link_to t(".sign-up"), new_user_registration_path, class: 'sign-up' %>
							</li>
							<li class="nav-item">
								<%= link_to t(".sign-in"), new_user_session_path, class: 'log-in' %>
							</li>
						<% end %>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>


<!-- ######## コンテンツ ########## -->
		<div id="contents">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
			<%= yield %>
		</div>
	</body>
</html>
