<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- For SEO -->
		<meta name="keywords" content="カメラマン, マッチング, 撮影, 日本, 撮影, 写真">
		<meta name="description" content="">
		<title>Camera-to-Culture | カメラマンマッチングサービス</title>



		<%= favicon_link_tag '/favicon.ico' %>
		<link rel="apple-touch-icon" href="http://13.230.174.55//apple-touch-icon.png">



		<!-- For GA -->
		<%= analytics_init if Rails.env.production? %>

		<!-- preset -->
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag		'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
<!-- ######## グロナビ ########## -->
		<nav class="navbar fixed-top navbar-expand-lg">
		  <%= link_to  home_path, class: "navbar-brand" do %>
				<img alt="Camera-to-Culture" src="/images/logo.png" class="nav-logo-img">
			<% end %>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<%= render :partial => 'svgs/toggle' %>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto ">
					<li class="nav-item">
						<%= link_to about_path, class: "nav-link" do %>
							<%= t(".about") %>
						<% end %>
			    </li>
		<!-- ログイン時 -->
					<% if user_signed_in? %>
				    <li class="nav-item">
				      <%= link_to user_path(current_user), class: "nav-link" do %>
								<%= t(".mypage") %>
							<% end %>
				    </li>
				    <li class="nav-item">
				      <%= link_to t(".message"), user_messages_path(current_user), class: "nav-link" %>
				    </li>
		<!-- 未ログイン時 -->
					<% else %>
						<li class="nav-item">
							<%= link_to t(".sign-in"), new_user_session_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to t(".sign-up"), new_user_registration_path, class: 'nav-link' %>
						</li>
					<% end %>
		  </div>
		</nav>


<!-- ######## コンテンツ ########## -->
		<div id="contents">
			<% if notice.present? %>
				<div class="notice"><%= notice %></div>
			<% end %>
			<% if alert.present? %>
				<div class="alert"><%= alert %></div>
			<% end %>
			<%= yield %>


			<!-- ######## フッター ########## -->
			<footer>
				<div class="container">
					<div class="row footer-upper-md">
						<div class="col-md-4 offset-md-2 col-lg-3 offset-lg-3 d-none d-md-block">


							<!-- サービスについて -->
							<p class="bold">Camera-to-Culture</p>

							<!-- 使い方 -->
							<%= link_to how_to_use_about_path, class: "nav-link" do %>
								<%= t(".how_to_use") %>
							<% end %>

							<!-- スマートフォンでの利用 -->
<!-- 							<%= link_to use_with_phone_about_path, class: "nav-link" do %>
								<%= t(".use_with_phone") %>
							<% end %> -->

							<!-- お問い合わせ -->
							<%= link_to contact_us_about_path, class: "nav-link" do %>
								<%= t(".contact_us") %>
							<% end %>

							<!-- 利用規約 -->
							<%= link_to terms_of_service_cs_about_path, class: "nav-link" do %>
								<%= t(".terms_of_service_cs") %>
							<% end %>

						</div>



						<!-- カメラマン -->
						<div class="col-md-4 col-lg-3 d-none d-md-block">
							<p class="bold"><%= t(".cameraman") %></p>

							<!-- カメラマン説明 -->
							<%= link_to to_be_a_cameraman_about_path, class: "nav-link" do %>
								<%= t(".To_be_a_cameraman") %>
							<% end %>

							<!-- ログイン時かつ、未登録時、フォームへ -->
							<% if user_signed_in? && @cl.consent == false %>
								<%= link_to first_new_user_client_client_contacts_path(@user, @cl), class: "nav-link" do %>
									<%= t(".register_as_cameraman") %>
								<% end %>
							<% end %>

							<!-- カメラマン規約 -->
							<%= link_to terms_of_service_cl_about_path, class: "nav-link" do %>
								<%= t(".terms_of_service_cl") %>
							<% end %>
						</div>
					</div>

					<!-- スマホ画面 -->
					<div class="footer-upper-sm d-md-none">
						<!-- カメラマンになる -->
						<%= link_to to_be_a_cameraman_about_path, class: "" do %>
							<%= t(".To_be_a_cameraman") %>
						<% end %>
						<!-- 利用規約 -->
						<%= link_to terms_of_service_cs_about_path, class: "nav-link" do %>
							<%= t(".terms_of_service_cs") %>
						<% end %>
					</div>

					<hr class="">

					<!-- bottom-footer -->
					<div class="row footer-bottom">
						<div class="col-12 clearfix">
							<div class="float-left">© 2018 Camera-to-Culture</div>
							<div class="float-right">
								<a class="nav-link dropdown-toggle" href="#" id="footerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<%= render :partial => 'svgs/global' %>&nbsp;<%= t(".language") %>
								</a>
								<div class="dropdown-menu" aria-labelledby="footerDropdown">
									<%= link_to("日本語", url_for(locale: 'ja', only_path: false), class: "dropdown-item") %>
									<%= link_to("English", url_for(locale: 'en', only_path: false), class: "dropdown-item") %>
									<%= link_to("简体中文", url_for(locale: 'zh', only_path: false), class: "dropdown-item") %>
									<%= link_to("繁體中文", url_for(locale: 'tw', only_path: false), class: "dropdown-item") %>
								</div>
							</div>
						</div>
					</div>

					<!-- 一番下にスペースを作る -->
					<div class="row footer-bottom-space">
					</div>
				</div>
			</footer>
		</div>

	</body>
</html>
