<p><%= t(".title")%></p>
<p><%= @email %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t(".explain_1")%></p>
  <p><%= @resource.unconfirmed_email %></p>
<% else %>
  <p><%= t(".explain_2")%></p>
  <p><%= @resource.email %>.</p>
<% end %>
