<div class="container-fluid mypage-container">
  <div class="row mypage-wrapper">
    <div class="col-12 col-md-3 offset-md-1 mypage-menu">
      <%= render :partial => 'users/mypage_menu' %>
    </div>

    <div class="col-12 col-md-8 mypage-content">
      <h1><%= t(".Edit_Settings")%></h1>
      <hr>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <!-- 名前 -->
        <div class="field">
          <%= f.label :name, t(".name"), class: "bold" %><br>
          <div class="indent">
            <%= f.text_field :name, autofocus: true, maxlength: "20", class: "input-text" %>
          </div>
        </div>

        <!-- メール -->
        <div class="field">
          <%= f.label :email, t(".email"), class: "bold" %><br />
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p><%= t(".Currently_waiting_confirmation_for", mail: resource.unconfirmed_email) %></p>
          <% end %>
          <div class="indent">
            <%= f.email_field :email, autofocus: true, class: "input-text" %>
          </div>
        </div>

        <!-- メールお知らせ -->
        <div class="field">
          <%= f.label :mail_refused, t(".refuse_mail"), class: "bold" %><br />
          <div class="indent">
            <%= f.check_box :mail_refused,{},checked_value = "true",unchecked_value = "false" %>
            <%= t(".refuse_mail_explanation")%>
          </div>
        </div>

        <!-- パスワード -->
        <div class="field">
          <%= f.label :password, t(".New_password"), class: "bold" %>&emsp;<span class="field-explanation"><%= t(".leave_blank_if_you_don't_want_to_change_it")%></span><br>
          <div class="indent">
            <%= f.password_field :password, autocomplete: "off", placeholder:  t(".characters_minimum"), class: "input-text" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: t(".password_confirmation"), class: "input-text" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit t(".update_btn") %>
        </div>
      <% end %>


    </div>
  </div>
</div>


<% assign_meta_tags title: t(".meta_title"),
                    description: t(".meta_keywords"),
                    keywords: t(".meta_description") %>
<% set_meta_tags noindex: true %>