<div class="container-fluid register-container">
  <div class="row resigter-form-wrapper">
    <div class="col-12 col-md-4 offset-md-1">
      <h1><%= t(".sign_up")%></h1>
      <div class="fb-register-wrap">
        <%= link_to t(".sign_up_with_FB"), user_facebook_omniauth_authorize_path, class: "fb-register" %>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="resigter-form">
          <div class="field">
            <%= f.label :name, t(".name") %><br />
            <%= f.text_field :name, autofocus: true, maxlength: "20", class: "input-text" %>
          </div>

          <div class="field">
            <%= f.label :user_languages, t(".language_use") %><br />
            <%= f.fields_for :user_languages do |lg| %>
              <input name="language_id[]" type="checkbox" value="1" checked="checked"/><%= t(".japanese")%>
            <% end %>

            <%= f.fields_for :user_languages do |lg| %>
              <input name="language_id[]" type="checkbox" value="2" /><%= t(".english")%>
            <% end %>

            <%= f.fields_for :user_languages do |lg| %>
              <input name="language_id[]" type="checkbox" value="3" /><%= t(".chinese")%>
            <% end %>
          </div>

          <div class="field file">
            <%= f.label :image, t(".image") %><br />
            <%= f.file_field :image %>
          </div>

          <div class="field">
            <%= f.label :email, t(".email") %><br />
            <%= f.email_field :email, autofocus: true, class: "input-text" %>
          </div>

          <div class="field">
            <%= f.label :password, t(".password") %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %><%=t(".characters_minimum") %>)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", placeholder: t(".password"), class: "input-text" %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: t(".password_confirmation"), class: "input-text" %>
          </div>



          <div class="actions">
            <%= f.submit t(".sign_up_btn") %>
          </div>
        </div>
      <% end %>
      <br><br>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>